.ui-close {
   border-radius: 50%;
   color: $light;
   font-size: 20px;
   cursor: pointer;
   transition: all .1s ease;
   @extend %flexCenter;
   &:hover {
      color: $action;
   }
}

.popup-wrap {
   .ui-close {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 2;
   }

   &.schedule-popup,  &.confirm-popup {
      .ui-close {
         color: $title;
         &:hover {
            color: $action;
         }
      }
   }
}
