<section class="schedule-section">
   <div class="ui-container">
      <h3 class="decor-title animate">Возрастные группы</h3>
      <h2 class="section-title animate">Расписание и цены</h2>

      <div class="schedule-items animate">
         <div class="schedule-item">
            <div class="schedule-icon"><i class="i-schedule"></i></div>
            <span class="age">9 мес - 1.5 года</span>
         </div>

         <div class="schedule-item">
            <div class="schedule-icon"><i class="i-schedule"></i></div>
            <span class="age">1.5 - 2 года</span>
         </div>

         <div class="schedule-item">
            <div class="schedule-icon"><i class="i-schedule"></i></div>
            <span class="age">2 - 3 года</span>
         </div>

         <div class="schedule-item">
            <div class="schedule-icon"><i class="i-schedule"></i></div>
            <span class="age">3 - 4 года</span>
         </div>

         <div class="schedule-item">
            <div class="schedule-icon"><i class="i-schedule"></i></div>
            <span class="age">4 - 5 лет</span>
         </div>

         <div class="schedule-item">
            <div class="schedule-icon"><i class="i-schedule"></i></div>
            <span class="age">5 - 6 лет</span>
         </div>

         <div class="schedule-item">
            <div class="schedule-icon"><i class="i-schedule"></i></div>
            <span class="age">6 - 7 лет</span>
         </div>

         <div class="schedule-item">
            <div class="schedule-icon"><i class="i-schedule"></i></div>
            <span class="age">7 - 12 лет</span>
         </div>
      </div>

      <div class="item-price schedule-item">
         <div class="schedule-icon"><i class="i-schedule-price"></i></div>
         <span class="age">Прайс-лист</span>
      </div>
   </div>
</section>