<section class="courses-section">
   <div class="ui-container">
      <h3 class="decor-title">Наши курсы</h3>
      <div class="heading">
         <h2 class="section-title">Развитие во всех направлениях</h2>
         <a href="#" class="ui-btn btn--dark btn-all">Смотреть все</a>
      </div>
   </div>

   <div class="courses">
      <div class="swiper swiper-courses" id="courses-swiper">
         <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <span class="age">с 4-х лет</span>
               <h4 class="title">Нейрогимнастика</h4>
               <p class="text">Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
               <a href="#" class="more">Подробнее</a>
            </div>

            <div class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <span class="age">с 4-х лет</span>
               <h4 class="title">Нейрогимнастика</h4>
               <p class="text">Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
               <a href="#" class="more">Подробнее</a>
            </div>

            <div class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <span class="age">с 4-х лет</span>
               <h4 class="title">Нейрогимнастика</h4>
               <p class="text">Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
               <a href="#" class="more">Подробнее</a>
            </div>

            <div class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <span class="age">с 4-х лет</span>
               <h4 class="title">Нейрогимнастика</h4>
               <p class="text">Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
               <a href="#" class="more">Подробнее</a>
            </div>

            <div class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <span class="age">с 4-х лет</span>
               <h4 class="title">Нейрогимнастика</h4>
               <p class="text">Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
               <a href="#" class="more">Подробнее</a>
            </div>

            <div class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <span class="age">с 4-х лет</span>
               <h4 class="title">Нейрогимнастика</h4>
               <p class="text">Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
               <a href="#" class="more">Подробнее</a>
            </div>
         </div>
         
         <!-- If we need navigation buttons -->
         <div class="swiper-button-prev"></div>
         <div class="swiper-button-next"></div>
      </div>
   </div>
</section>