<section class="courses-section" id="courses">

   <div class="ui-container">
      <h3 class="decor-title animate">Наши курсы</h3>
      <h2 class="section-title animate">Развитие во всех направлениях</h2>
      </div>
   </div>

   <div class="ui-container courses-container">
      <div class="courses swiper-wrap">
         <div class="swiper swiper-courses" id="swiper-courses">
            <div class="swiper-wrapper">
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 1</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Комплексные развивающие занятия от 9 мес до 5 лет</h4>
                        <p class="text">Комплексные развивающие занятия от 9 мес до 5 лет - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 2</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 3</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 4</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 5</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 6</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Комплексные развивающие занятия от 9 мес до 5 лет</h4>
                        <p class="text">Комплексные развивающие занятия от 9 мес до 5 лет - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 7</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 8</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 9</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
               <div class="swiper-slide animate">
                  <div class="course">
                     <img loading="lazy" src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
                     <div class="info">
                        <span class="age">с 4-х лет</span>
                        <h4 class="title">Шахматы 10</h4>
                        <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                        <a href="#" class="more hoverLinks">Подробнее</a>
                     </div>
                  </div>
               </div>
   
            </div>
         </div>
   

         <div class="swiper-button-prev arrow circle-arrow"></div>
         <div class="swiper-button-next arrow circle-arrow"></div>
      </div>

      <button class="ui-btn btn--dark btn-all animate">Все курсы</button>
   </div>

</section>