<div data-content="offline" class="courses courses-offline swiper-wrap active">
   <div class="swiper swiper-courses" id="swiper-courses-offline">
      <div class="swiper-wrapper">

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/englishMiniKindergarten.webp" alt="Психолог">
               <div class="info">
                  <h4 class="title">Английский мини-сад</h4>
                  <span data-id="17" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/neurohymnastics.webp" alt="Нейрогимнастика">
               <div class="info">
                  <h4 class="title">Нейрогимнастика</h4>
                  <span data-id="5" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/educational-classes.webp" alt="Развивающие занятия">
               <div class="info">
                  <h4 class="title">Развивающие занятия от 9 месяцев до 3 лет</h4>
                  <span data-id="7" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/comprehensiveCildDev.webp" alt="Психолог">
               <div class="info">
                  <h4 class="title">Копмлексное развитие от 4 до 5 лет</h4>
                  <span data-id="16" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/speech-therapist.webp" alt="Логопедические занятия">
               <div class="info">
                  <h4 class="title">Логопедические занятия</h4>
                  <span data-id="9" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/school.webp" alt="Подготовка к школе (в течение учебного года)">
               <div class="info">
                  <h4 class="title">Подготовка к школе (в течение учебного года)</h4>
                  <span data-id="6" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/chess.webp" alt="Шахматы">
               <div class="info">
                  <h4 class="title">Шахматы</h4>
                  <span data-id="14" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/draw.webp" alt="ИЗО-студия - художественные занятия">
               <div class="info">
                  <h4 class="title">ИЗО-студия - художественные занятия</h4>
                  <span data-id="11" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/izolepka.webp" alt="ИЗО-студия - художественные занятия">
               <div class="info">
                  <h4 class="title">Изолепка</h4>
                  <span data-id="12" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/sketching.webp" alt="ИЗО-студия - художественные занятия">
               <div class="info">
                  <h4 class="title">Скетчинг</h4>
                  <span data-id="13" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/tyap.webp" alt="Тяп-ляп - творческие занятия">
               <div class="info">
                  <h4 class="title">Тяп-ляп - творческие занятия</h4>
                  <span data-id="8" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/logorhythmics.webp" alt="Логоритмика">
               <div class="info">
                  <h4 class="title">Логоритмика</h4>
                  <span data-id="10" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>
         
         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/psychology.webp" alt="Психолог">
               <div class="info">
                  <h4 class="title">Психолог</h4>
                  <span data-id="19" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/skills-future.webp" alt="Soft Skills (гибкие навыки)">
               <div class="info">
                  <h4 class="title">Soft Skills (гибкие навыки)</h4>
                  <span data-id="4" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/english.webp" alt="Английский язык">
               <div class="info">
                  <h4 class="title">Английский язык</h4>
                  <span data-id="18" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

      </div>
   </div>

   <div class="swiper-pagination courses-pagination courses-pagination-offline"></div>

   <div class="swiper-button-prev arrow circle-arrow"></div>
   <div class="swiper-button-next arrow circle-arrow"></div>
</div>