<div data-content="online" class="courses courses-online swiper-wrap">
   <div class="swiper swiper-courses" id="swiper-courses-online">
      <div class="swiper-wrapper">

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/english.webp" alt="Английский язык">
               <div class="info">
                  <h4 class="title">Английский язык</h4>
                  <span data-id="1" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/french.webp" alt="Французский язык">
               <div class="info">
                  <h4 class="title">Французский язык</h4>
                  <span data-id="2" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/spanish.webp" alt="Испанский язык">
               <div class="info">
                  <h4 class="title">Испанский язык</h4>
                  <span data-id="3" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/china.webp" alt="Испанский язык">
               <div class="info">
                  <h4 class="title">Китайский язык</h4>
                  <span data-id="20" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/psychology.webp" alt="Психолог">
               <div class="info">
                  <h4 class="title">Психолог</h4>
                  <span data-id="15" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

      </div>
   </div>

   <div class="swiper-pagination courses-pagination courses-pagination-online"></div>

   <div class="swiper-button-prev arrow circle-arrow"></div>
   <div class="swiper-button-next arrow circle-arrow"></div>
</div>