<section class="courses-section">
   <div class="ui-container">
      <h3 class="decor-title animate">Наши курсы</h3>
      <div class="heading">
         <h2 class="section-title animate">Развитие во всех направлениях</h2>
         <a href="#" class="ui-btn btn--dark btn-all animate">Смотреть все</a>
      </div>
   </div>

   <div class="courses animate">
      <div class="swiper swiper-courses" id="swiper-courses">
         <div class="swiper-wrapper">

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Шахматы</h4>
                  <p class="text">Шахматы - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Английский</h4>
                  <p class="text">Английский - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Нейрогимнастика</h4>
                  <p class="text">Нейрогимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Логоритмика</h4>
                  <p class="text">Логоритмика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Подготовка к школе</h4>
                  <p class="text">Подготовка к школе - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Обучение чтению</h4>
                  <p class="text">Обучение чтению - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Скетчинг</h4>
                  <p class="text">Скетчинг - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">ИЗО</h4>
                  <p class="text">ИЗО - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">ИЗО-лепка</h4>
                  <p class="text">ИЗО-лепка - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Комплексные развивающие занятия от 9 мес до 5 лет</h4>
                  <p class="text">Комплексные развивающие занятия от 9 мес до 5 лет - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Логопед</h4>
                  <p class="text">Логопед - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Развитие интеллекта и навыков будущего</h4>
                  <p class="text">Развитие интеллекта и навыков будущего - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>

            <a href="#" class="swiper-slide course">
               <img src="../../../img/optimized/courses/course_2x.webp" alt="Нейрогимнастика">
               <div class="info">
                  <span class="age">с 4-х лет</span>
                  <h4 class="title">Академия занимательных каникул</h4>
                  <p class="text">Академия занимательных каникул - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга Нейронимнастика - это совокупность упражнений, которые помогают тренировать и улучшать работу мозга</p>
                  <span href="#" class="more">Подробнее</span>
               </div>
            </a>
         </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-arrows courses-arrows">
         <div class="swiper-button-prev arrow"></div>
         <div class="swiper-button-next arrow"></div>
      </div>
   </div>
</section>