<div data-content="online" class="courses courses-online swiper-wrap">
   <div class="swiper swiper-courses" id="swiper-courses-online">
      <div class="swiper-wrapper">

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/english.webp" alt="Английский язык">
               <!-- <div class="price static-price">от 800 <span>руб</span></div> -->
               <div class="info">
                  <!-- <span class="age">с 2 лет</span> -->
                  <h4 class="title">Английский язык</h4>
                  <!-- <div class="price hidden-price">от 800 <span>руб</span></div> -->
                  <!-- <p class="text">Наши занятия строятся по Кембриджской программе. Они направлены в первую очередь на расширение словарного запаса и развитие разговорной речи, развитие умения понимать английскую речь на слух, а также на изучение грамматики, на первых порах только в игровой форме.</p> -->
                  <span data-id="1" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/french.webp" alt="Французский язык">
               <!-- <div class="price static-price">от 1 100 <span>руб</span></div> -->
               <div class="info">
                  <!-- <span class="age">с 2 лет</span> -->
                  <h4 class="title">Французский язык</h4>
                  <!-- <div class="price hidden-price">от 1 100 <span>руб</span></div> -->
                  <!-- <p class="text">Занятия направлены в первую очередь на расширение словарного запаса и развитие разговорной речи, развитие умения понимать французскую речь на слух, а также на изучение грамматики.</p> -->
                  <span data-id="2" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/spanish.webp" alt="Испанский язык">
               <!-- <div class="price static-price">от 1 100 <span>руб</span></div> -->
               <div class="info">
                  <!-- <span class="age">с 2 лет</span> -->
                  <h4 class="title">Испанский язык</h4>
                  <!-- <div class="price hidden-price">от 1 100 <span>руб</span></div> -->
                  <!-- <p class="text">Занятия направлены в первую очередь на расширение словарного запаса и развитие разговорной речи, развитие умения понимать испанскую речь на слух, а также на изучение грамматики.</p> -->
                  <span data-id="3" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

         <div class="swiper-slide animate">
            <div class="course">
               <img loading="lazy" src="../../../img/optimized/courses/psychology.webp" alt="Психолог">
               <!-- <div class="price static-price">от 1 200 <span>руб</span></div> -->
               <div class="info">
                  <!-- <span class="age">до 18 лет</span> -->
                  <h4 class="title">Психолог</h4>
                  <!-- <div class="price hidden-price">от 1 200 <span>руб</span></div> -->
                  <!-- <p class="text">Проводится и психологическое консультирование родителей в индивидуальном формате</p> -->
                  <span data-id="15" class="more hoverLinks">Подробнее</span>
               </div>
            </div>
         </div>

      </div>
   </div>

   <div class="swiper-pagination courses-pagination courses-pagination-online"></div>

   <div class="swiper-button-prev arrow circle-arrow"></div>
   <div class="swiper-button-next arrow circle-arrow"></div>
</div>