<div class="contact-links-wrap">
   <div class="ui-container">
      <div class="contact-links animate">
         <a class="contact-link" href="mailto:barkoschool.info@yandex.ru">
            <div class="icon"><i class="i-message-fill"></i></div>
            <span>barkoschool.info@yandex.ru</span>
         </a>

         <div class="contact-link address" >
            <div class="icon"><i class="i-map-marker-fill"></i></div>
            <span>Санкт-Петербург, М.Фрунзенская, Московский пр. 75А</span>
         </div>
         
         <a class="contact-link" href="tel:+79111490505">
            <div class="icon"><i class="i-phone-fill"></i></div>
            <span>+7 911 149 05 05</span>
         </a>
      </div>
   </div>
</div>