<div class="contact-links-wrap">
   <div class="ui-container">
      <div class="contact-links animate">
         <a class="contact-link" href="mailto:info@barkoschool.ru">
            <div class="icon"><i class="i-message-fill"></i></div>
            <span>info@barkoschool.ru</span>
         </a>

         <a class="contact-link address" href="#" target="_blank">
            <div class="icon"><i class="i-map-marker-fill"></i></div>
            <span>Санкт-Петербург, М.Фрунзенская, Московский пр. 75А</span>
         </a>
         
         <a class="contact-link" href="tel:+74955642132">
            <div class="icon"><i class="i-phone-fill"></i></div>
            <span>+7 495 564 21 32</span>
         </a>
      </div>
   </div>
</div>