.tickets-section {

   .decor-title {
      justify-content: center;
   }

   .section-title {
      text-align: center;
   }

   .tickets {
      margin-top: 45px;
      gap: 30px;

      .ticket-row {
         display: grid;
         gap: 30px;
         &:not(:last-child) {
            margin-bottom: 30px;
         }

         &.tickets_1 {
            grid-template: 1fr / 1fr 1fr;
         }

         &.tickets_2 {
            grid-template: 1fr / 1fr 1fr 1fr;
         }
      }

      .ticket {
         padding: 30px 60px;
         border-radius: $blockR;
         position: relative;
         overflow: hidden;
         transition: all .3s ease;

         &:before {
            content: '';
            position: absolute;
            bottom: -50px;
            right: -50px;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: $tableBodyDark;
            box-shadow: 0px 0px 0px 40px rgba(255, 231, 237, 0.3);
            opacity: .08;
            z-index: 0;
            transition: all .4s ease;
         }

         &-short-title {
            margin-bottom: 5px;
            font-family: $MontsAlt;
            font-size: 15px;
            font-weight: 500;
            line-height: 100%;
            color: $action;
            text-align: center;
            display: block;
            position: relative;
            z-index: 1;
         }

         &-name {
            margin-bottom: 45px;
            font-size: 30px;
            font-weight: 700;
            line-height: 120%;
            color: $title;
            text-align: center;
            position: relative;
            z-index: 1;

            strong {
               font-weight: 800;
               color: $action;
            }
         }

         &-list {
            position: relative;
            z-index: 1;
            li {
               padding-left: 30px;
               position: relative;
               font-family: $Rob;
               font-size: 17px;
               font-weight: 300;
               line-height: 130%;
               color: $title;

               &:not(:last-child) {
                  margin-bottom: 12px;
               }

               &:before {
                  content: '\e914'; 
                  position: absolute;
                  top: 0;
                  left: 0;
                  font-family: $BRFont;
                  font-size: 16px;
                  color: $action;
               }
            }

         }

         .ui-btn {
            padding: 12px 25px;
            font-size: 17px;
            position: relative;
            z-index: 1;
         }

         .price {
            margin: 35px 0;
            padding-left: 30px;
            font-size: 25px;
            font-weight: 700;
            line-height: 100%;
            color: $light;
         }

         &.ticket--primary {
            background: $darkDecor;
            // grid-area: primary;
            width: 100%;
            box-shadow: 0px 13px 50px -15px rgba(0, 0, 0, 0.25);

            .ticket-name {
               color: $light;
            }

            .ticket-list {
               li {
                  color: $light;
               }
            }
         }

         &.ticket--secondary {
            background: $weakColorSelection;
            box-shadow: 0px 13px 50px -15px rgba(91, 2, 24, 0.2);
            width: 100%;

            &:before {
               background: $tableHead;
               box-shadow: 0 0 0 40px rgba(255,116,151,.4);
            }

            .price {
               color: $darkDecor;
            }
         }

         &[class*="ticket--individual"] {
            padding: 30px;
            background: $light;
            box-shadow: 0px 13px 50px -15px rgba(0, 0, 0, 0.15);
   
            &:before {
               width: 200px;
               height: 200px;
               background: $textLight;
               opacity: .12;
               box-shadow: 0 0 0 40px rgba(209, 207, 221, .45);
            }
   
            .ticket-short-title {
               margin-bottom: 10px;
               font-size: 14px;
               font-weight: 400;
            }
   
            .ticket-name {
               margin-bottom: 40px;
               font-size: 19px;
               line-height: 120%;
            }
   
            .ticket-list {
               li {
                  font-size: 15px;
               }
            }

            .price {
               color: $darkDecor;
            }
   
            .ui-btn {
               padding: 12px 20px;
               font-size: 15px;
            }
         }

         &:hover {
            transform: translateY(-5px);

            &:before {
               transform: translateY(-15px);
            }  

            &.ticket--primary {
               background: $hoverDarkBtn;
            }

            &.ticket--secondary {
               background: $tableBodyDark;
            }

            &[class*="ticket--individual"] {
               background: $weakColorSelection;

               &:before {
                  background: $tableHead;
                  opacity: .08;
                  box-shadow: 0 0 0 40px rgba(255,116,151,.4);
               }
            }
         }
      }
   }
}

@media all and (max-width: 1220px) {
   $curW: 1220;
   $tarW: 1000;

   .tickets-section .tickets {
      .ticket {
         padding: 30px calcSize($curW, $tarW, 60, 30);

         &-name {
            font-size: calcSize($curW, $tarW, 30, 23);
         }

         &[class*="ticket--individual"] {
            padding: 30px calcSize($curW, $tarW, 30, 20);
         }
      }
   }
}


@media all and (max-width: 1000px) {
   .tickets-section .tickets {
      .ticket-row {
         &.tickets_2 {
            grid-template: auto / 1fr 1fr;
         }
      }

      .ticket {
         padding: 30px;

         &-name {
            font-size: 23px;
         }

         &-list {
            li {
               font-size: 15px;
            }
         }

         .price {
            margin: 30px 0;
         }

         &.ticket--primary, &.ticket--secondary {
            &:before {
               width: 200px;
               height: 200px;
            }
         }

         &[class*="ticket--individual"] {
            padding: 30px;
         }
      }
   }
}


@media all and (max-width: 800px) {
   .tickets-section .tickets {
      .ticket-row {
         &.tickets_1, &.tickets_2 {
            grid-template: auto / 1fr;
         }
      }

      .ticket {
         padding: 30px 60px;

         &-name {
            font-size: 30px;
         }

         &-list {
            li {
               font-size: 17px;
            }
         }

         .price {
            margin: 30px 0;
         }


         &[class*="ticket--individual"] {
            padding: 30px 60px;

            .ticket-short-title {
               margin-bottom: 5px;
               font-size: 15px;
               font-weight: 500;
               line-height: 100%;
            }

            .ticket-name {
               margin-bottom: 45px;
               font-size: 30px;
               line-height: 110%;
            }

            .ticket-list {
               li {
                  font-size: 17px;
               }
            }

            .ui-btn {
               padding: 12px 25px;
               font-size: 17px;
            }
         }

         &.ticket--primary, &.ticket--secondary, &[class*="ticket--individual"] {
            &:before {
               width: 250px;
               height: 250px;
            }
         }
      }
   }
}


@media all and (max-width: 550px) {
   $curW: 550;
   $tarW: 280;

   .tickets-section .tickets {
      .ticket, .ticket[class*="ticket--individual"] {

         padding: 30px calcSize($curW, $tarW, 60, 20);

         .ticket-name {
            font-size: calcSize($curW, $tarW, 30, 23);
         }

         .ticket-list {
            li {
               font-size: calcSize($curW, $tarW, 17, 15);
            }
         }

         .ui-btn {
            padding: calcSize($curW, $tarW, 12, 11) calcSize($curW, $tarW, 25, 23);
            // font-size: calcSize($curW, $tarW, 17, 15);
         }

         .price {
            margin: 35px 0;
         }
      }
      .ticket {
         &.ticket--primary, &.ticket--secondary, &[class*="ticket--individual"] {
            &:before {
               width: 200px;
               height: 200px;
            }
         }
      }
   }
}


@media all and (max-width: 400px) {
   .tickets-section .tickets {
      .ticket {
         .ticket-name {
            margin-bottom: 35px;
         }
      }
   }
}