.top-info {
   padding: 11px 0;
   background: $light;
   box-shadow: $blocksWhiteS;

   .items {
      display: flex;
      align-items: center;
      gap: 30px;
      .item {
         display: flex;
         align-items: center;
         font-size: 15px;
         font-weight: 400;
         line-height: 100%;
         color: $title;
         
         & > i {
            margin-right: 12px;
            color: $action;
            font-size: 17px;
         }

         &.item--address {
            & > i {
               font-size: 20px;
            }
         }
         &.first:after {
            content: '';
            margin-left: 30px;
            display: block;
            height: 20px;
            width: 1px;
            background: $title;
         }
      }
   }
}

@media all and (max-width: 1090px) {
   .top-info .items .item--address { display: none; }
}

@media all and (max-width: 560px) {
   .top-info { display: none; }
}