.top-info {
   padding: 9px 0;
   background: $light;
   box-shadow: $blocksWhiteS;

   .items {
      display: flex;
      align-items: center;
      gap: 30px;
      .item {
         display: flex;
         align-items: center;
         font-size: 14px;
         font-weight: 400;
         line-height: 130%;
         color: $title;

         &.align-srart {
            // align-items: flex-start;
            font-size: 13px;
            span {
               padding: 0;
            }
         }
         
         & > i {
            margin-right: 12px;
            color: $action;
            font-size: 17px;
         }

         span {
            padding: 5px 0;
            transition: background-size .2s ease, transform .2s ease;
         }

         &.item--address {
            span {
               max-width: 260px;
            }
            & > i {
               font-size: 20px;
            }
            &.first:after {
               margin-left: 0;
               height: 30px;
            }
         }
         &.first:after {
            content: '';
            margin-left: 30px;
            display: block;
            height: 18px;
            width: 1px;
            background: $title;
         } 
      }
      
      a.item {
         @include hoverLinks($hoverSpan: true);
         &:hover {
            span { transform: translateX(3px); }
         }
      }
   }
}

@media all and (max-width: 1090px) {
   .top-info .items .item--address { display: none; }
}

@media all and (max-width: 560px) {
   .top-info { display: none; }
}