<div class="top-info">
   <div class="ui-container container--flex">
      <div class="items">
         <div class="item item--address first">
            <i class="i_location"></i>
            Санкт-Петербург, М.Фрунзенская, Московский пр. 75А
         </div>

         <div class="item item--hours">
            <i class="i_clock"></i>
            Пн-Пт: 8:00 - 20:00 
         </div>
      </div>

      <div class="items">
         <a href="tel:+79111490505" class="item item--phone first">
            <i class="i_phone"></i>
            <span>+7 911 149 05 05</span>
         </a>

         <div class="item socials socials--top">
            @@include('../socials/socials.html')
         </div>
      </div>
   </div>
</div>