<div class="popup-wrap schedule-popup" id="schedule-popup">
   <div class="popup">
      @@include('../../ui/ui-close/ui-close.html')
      
      <div class="schedule-head">
         <ul class="schedule-top">
            <li class="schedule-top--item">Санкт-Петербург, М.Фрунзенская, Московский пр. 75А</li>
            <li class="schedule-top--item">Пн-Пт: 08:00-20:00 / Сб, Вс: 09:00-18:00</li>
         </ul>
         
         <h3 class="schedule-title">Расписание занятий</h3>
         <h5 class="schedule-age"></h5>
      </div>

      <div class="schedule-body">
         <div class="explanation">
            <span class="mark"></span>
            <p class="text"> - Скидка 10% ТОЛЬКО на групповые занятия</p>
         </div>

         <img loading="lazy" src="" alt="">
         
         <div class="explanation">
            <p class="text selected">Также производится запись на дополнительные индивидуальные занятия по необходимым Вам направлениям! Для более подробной информации обратитесь к администратору или свяжитесь с нами <a href="tel:+79111490505">+7 911 149 05 05</a></p>
         </div>
      </div>

      <div class="schedule-footer">
         <div class="footer-col left-col">
            <a href="/" class="schedule-logo"><img src="../../../img/logo_light.svg" alt="Barko School Logo"></a>
            <div class="socials socials--schedule"> @@include('../../socials/socials.html') </div>
         </div>

         <div class="footer-col right-col">
            <a href="mailto:barkoschool.info@yandex.ru" class="footer-contact-link">
               <i class="i-message-fill"></i>
               <span>barkoschool.info@yandex.ru</span>
            </a>
            <a href="tel:+79111490505" class="footer-contact-link">
               <i class="i-phone-fill"></i>
               <span>+7 911 149 05 05</span>
            </a>
         </div>
         
         <!-- <button class="ui-btn btn--action btn-schedule "><span>Пробное занятие</span></button> -->
      </div>
   </div>

   <div class="popup-overlay"></div>
</div>