$paddingX: 50px;

.schedule-popup {
   .popup {
      max-width: 1600px;
      background: $light;
      border-radius: $blockR;
      overflow: hidden;
   }

   .schedule-top {
      margin-bottom: 30px;
      padding: 0 $paddingX 12px $paddingX;
      background: $weakColorSelection;
      width: 100%;
      position: relative;

      &--item {
         font-family: $Monts;
         font-size: 13px;
         font-weight: 400;
         line-height: 120%;
         text-align: center;
         width: 100%;
         &:not(:last-child) {
            margin-bottom: 6px;
         }
      }

      &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 30px;
         height: 2px;
         background: $action;
         border-radius: 30px;
      }
   }

   .schedule-head {
      padding: 25px 0 0 0;
      position: relative;
      background: $weakColorSelection;
      &:after {
         content: '';
         position: absolute;
         top: 100%;
         left: 0;
         width: 100%;
         height: 45px;
         background: url(../../../img/wave-schedule-head.svg) no-repeat center / cover;
      }

      .schedule-title {
         font-size: 30px;
         font-weight: 600;
         line-height: 100%;
         color: $title;
         text-align: center;
         position: relative;
         z-index: 1;
      }

      .schedule-age {
         margin-top: 15px;
         font-family: $MontsAlt;
         font-weight: 500;
         font-size: 20px;
         line-height: 100%;
         color: $title;
         text-align: center;
         @extend %flexCenter;
         gap: 20px;
         position: relative;
         z-index: 1;
         &:before, &:after {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background: $action;
         }
      }
   }


   .schedule-body {
      padding: 90px $paddingX 130px $paddingX;
      img {
         margin: 15px 0;
         max-width: 100%;
         height: auto;
         display: inline-block;
      }
      .explanation {
         display: flex;
         align-items: center;
         gap: 10px;
         .mark {
            width: 15px;
            height: 15px;
            background: #57F1A7;
            border-radius: 50%;
         }
         .text {
            font-family: $Rob;
            font-weight: 400;
            font-size: 13px;
            line-height: 100%;
            color: $text;
            &.selected {
               color: $darkDecor;
               line-height: 140%;
               max-width: 700px;
            }
            a {
               color: $darkDecor;
               text-decoration: underline;
               &:hover {
                  color: $action;
               }
            }
         }
      }
      .body-text {
         margin-top: 30px;
         font-family: $Rob;
         font-size: 15px;
         font-weight: 400;
         line-height: 147%;
         color: $title;
      }
   }


   .schedule-footer {
      padding: 10px $paddingX 25px $paddingX;
      background: $footerBg;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      &:before {
         content: '';
         position: absolute;
         bottom: 96%;
         left: 0;
         width: 100%;
         height: 68px;
         background: url(../../../img/wave-schedule-bottom.svg) no-repeat center / cover;
         z-index: 0;
      }

      .footer-col {
         display: flex;
         flex-direction: column;
         &.left-col {
            align-items: center;
            gap: 30px;
         }
         &.right-col {
            gap: 20px;
         }
      }

      .schedule-logo {
         position: relative;
         max-width: 230px;
         z-index: 1;
         img {
            max-width: 100%;
            height: auto;
         }
      }

      .footer-contact-link {
         font-family: $Monts;
         font-size: 14px;
         font-weight: 500;
         line-height: 100%;
         color: $light;
         display: flex;
         align-items: center;
         gap: 15px;
         @include hoverLinks($hoverSpan: true);

         span {
            padding: 5px 0;
            transition: background-size .2s ease, transform .2s ease;
         }

         i {
            font-size: 16px; 
            color: $action;
         }

         &:hover {
            span {
               transform: translateX(3px);
            }
         }
      }

      .btn-schedule {
         padding: 14px 30px;
      }
   }
}


@media all and (max-width: 1000px) {
   $paddingX: 20px;
   .schedule-popup {
      .schedule-body { padding: 120px $paddingX 150px $paddingX; }
      .schedule-footer { padding: 10px $paddingX 25px $paddingX; }
      .schedule-top {padding: 20px $paddingX 12px $paddingX;}
   }
}

@media all and (max-width: 768px) {
   .schedule-popup {
      .schedule-head {
         .schedule-title { font-size: calcSize(768, 500, 35, 26); }
         .schedule-age { font-size: calcSize(768, 500, 22, 19); }
      }
      .schedule-body {
         padding: calcSize(768, 500, 120, 90) 20px calcSize(768, 500, 150, 120) 20px;
      }
   }
}

@media all and (max-width: 590px) {
   .schedule-popup {

      .schedule-footer {
         flex-direction: column;
         align-items: center;
         
         .footer-col {
            &.right-col {
               margin-top: 15px;
               align-items: center;
               gap: 15px;
            }
         }
      }
   }
}

@media all and (max-width: 500px) {
   .schedule-popup {
      .schedule-top {
         &--item:not(:last-child) {
            margin-bottom: 10px;
         }
      }
      .schedule-body {
         .explanation .text { font-size: 12px; }
         .body-text { font-size: 13px; }
      }
      .schedule-footer {
         padding: 0 $paddingX 20px $paddingX;
         flex-direction: column;
         align-items: center;
         gap: 15px;
         .schedule-logo { max-width: 170px; }
      }
   }
}