<div class="popup-wrap" id="schedule-popup">
   <div class="popup">
      @@include('../../ui/ui-close/ui-clode.html')
      
      <div class="schedule-head">
         <h3 class="schedule-title">Расписание занятий</h3>
         <h5 class="schedule-age">1.5 - 2 года</h5>
      </div>

      <div class="schedule-body">
         <img src="../../../img/optimized/schedule/schedule_1.5-2_years_1.5x.webp" alt="">
      </div>

      <div class="schedule-footer">
         <a href="/" class="schedule-logo"><img src="../../../img/logo_light.svg" alt="Barko School Logo"></a>
         <div class="socials socials--footer schedule--socials"> @@include('../../socials/socials.html') </div>
         <!-- <button class="ui-btn btn--action btn-schedule "><span>Пробное занятие</span></button> -->
      </div>
   </div>

   <div class="popup-overlay"></div>
</div>