<div class="popup-wrap" id="schedule-popup">
   <div class="popup">
      @@include('../../ui/ui-close/ui-close.html')
      
      <div class="schedule-head">
         <h3 class="schedule-title">Расписание занятий</h3>
         <h5 class="schedule-age"></h5>
      </div>

      <div class="schedule-body">
         <img loading="lazy" src="" alt="">
         <div class="explanation">
            <span class="mark"></span>
            <p class="text"> - льготное время</p>
         </div>
         <p class="body-text">Каждое воскресенье – проведение праздников (Дни рождения, юбилеи, художественные мастер-классы и др.)</p>
      </div>

      <div class="schedule-footer">
         <a href="/" class="schedule-logo"><img src="../../../img/logo_light.svg" alt="Barko School Logo"></a>
         <div class="socials socials--schedule"> @@include('../../socials/socials.html') </div>
         <!-- <button class="ui-btn btn--action btn-schedule "><span>Пробное занятие</span></button> -->
      </div>
   </div>

   <div class="popup-overlay"></div>
</div>