<div class="popup-wrap confirm-popup" id="error-popup">
   <div class="popup">
      @@include('../../ui/ui-close/ui-close.html')

      <div class="confirm-icon"><i class="i-close"></i></div>
      <h3 class="confirm-title">Упс, что-то пошло не так</h3>
      <p class="confirm-text">При отправке данных произошла ошибка, если вы увидели это сообщение, пожалуйста, сообщите нам любым удобным способом</p>
      <button class="ui-btn btn--dark confirm--btn"><span>Ок, закрыть</span></button>
   </div>

   <div class="popup-overlay"></div>
</div>