<div class="popup-wrap confirm-popup" id="success-popup">
   <div class="popup">
      @@include('../../ui/ui-close/ui-close.html')

      <div class="confirm-icon"><i class="i-check-bold"></i></div>
      <h3 class="confirm-title">Ваши данные успешно отправлены</h3>
      <p class="confirm-text">Спасибо, мы получили Ваше сообщение и свяжемся с Вами в ближайшее время</p>
      <button class="ui-btn btn--dark confirm--btn"><span>ок, спасибо</span></button>
   </div>

   <div class="popup-overlay"></div>
</div>