<section class="reviews-section" id="reviews">
   <div class="ui-container">
      <div class="info">
         <h3 class="decor-title animate">Отзывы</h3>
         <h2 class="section-title animate">Что говорят о нас наши клиенты</h2>
         <p class="text animate">Дети - наше будущее! Мы всегда хотим, чтобы они стали лучше, чем мы. Наша задача - заложить в них фундамент для строительства лучших версий их самих</p>
         <button class="ui-btn btn--action min900 animate"><span>Пробное занятие</span></button>
      </div>

      <div class="reviews animate">
         <div class="reviews-swiper-wrap ">
            <div class="swiper swiper-reviews" id="swiper-reviews">
               <div class="swiper-wrapper">
   
                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatar_1.webp" alt="Азиатская девушка"></div>
                        <div class="author-info">
                           <h4 class="name">Александра Даддарио</h4>
                           <span class="descr">Счастливая мама</span>
                        </div>
                     </div>
                     <p class="review-text">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</p>
                  </div>
      
                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatar.webp" alt="Азиатская девушка"></div>
                        <div class="author-info">
                           <h4 class="name">Татьяна Олейниченко</h4>
                           <span class="descr">Счастливая мама</span>
                        </div>
                     </div>
                     <p class="review-text">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Банальные, но неопровержимые выводы, а также действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</p>
                  </div>
   
                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatar.webp" alt="Азиатская девушка"></div>
                        <div class="author-info">
                           <h4 class="name">Татьяна Олейниченко</h4>
                           <span class="descr">Счастливая мама</span>
                        </div>
                     </div>
                     <p class="review-text">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</p>
                  </div>
   
                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatar.webp" alt="Азиатская девушка"></div>
                        <div class="author-info">
                           <h4 class="name">Татьяна Олейниченко</h4>
                           <span class="descr">Счастливая мама</span>
                        </div>
                     </div>
                     <p class="review-text">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</p>
                  </div>
   
               </div>
            </div>

            <div class="swiper-pagination reviews-pagination" id="reviews-pagination"></div>
         </div>

         <img src="../../../img/triangle_quotes.svg" alt="" class="quote-img animate">

         <button class="ui-btn btn--action max900 animate"><span>Пробное занятие</span></button>
      </div>
   </div>
</section>