<section class="reviews-section" id="reviews">
   <div class="ui-container">
      <div class="info">
         <h3 class="decor-title animate">Отзывы</h3>
         <h2 class="section-title animate">Что говорят о нас наши клиенты</h2>
         <p class="text animate">Дети - наше будущее! Мы всегда хотим, чтобы они стали лучше, чем мы. Наша задача - заложить в них фундамент для строительства лучших версий их самих</p>
         <a href="#contacts" class="ui-btn btn--action min900 animate"><span>Пробное занятие</span></a>
      </div>

      <div class="reviews animate">
         <div class="reviews-swiper-wrap swiper-wrap">
            <div class="swiper swiper-reviews" id="swiper-reviews">
               <div class="swiper-wrapper">
   
                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar.webp" alt="Анна Кис"></div>
                        <div class="author-info">
                           <h4 class="name">Анна Кис</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Хочу вызазить благодарность педагогу Евгении за те знанния, которые Вы дали моей дочке! Занимаемся тут уже второй год, я очень довольна результатом, делает хорошие успехи в школе на уроках английского, оценки выросли, пос сравнению с тем, что было до курсов. Плюс с занятий приходит радостная. Преподаватель действительно старается по максимуму создать непринужденную и приятную атмосферу для ребенка. Спасибо Барко Скул!</p>
                  </div>
      
                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_1.webp" alt="Мария Фокс"></div>
                        <div class="author-info">
                           <h4 class="name">Мария Фокс</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">С лета занимаесмя в Barko School, ходим к логопеду и на рисование. Преподаватели настоящие эксперты своего дела! Увлекают ребенка, на уроки ходим с удовольствием, а результату выше всех ожиданий. Рисунки на ИЗО получаются красочные, законченные и продуманные композиции. У логопеда сочетается игровая форма и серьезные упражнения, а домашние задания аккуратно собираются в альбом. Вобщем школу очень рекомендую!</p>
                  </div>
   
                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_13.webp" alt="Николай Баскаков"></div>
                        <div class="author-info">
                           <h4 class="name">Николай Баскаков</h4>
                           <span class="descr">Счастливаый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Замечательная школа с хорошими преподавателями и милыми администраторами</p>
                  </div>
   
                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_2.webp" alt="Ольга Паневина"></div>
                        <div class="author-info">
                           <h4 class="name">Ольга Паневина</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Мои дети ходят с удовольствием! Спасибо! Когда Кирилл у вас занимался, решил, что научиться складывать в уме трехзначные цифры. И ведь получилось!</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_3.webp" alt="Марина Ли"></div>
                        <div class="author-info">
                           <h4 class="name">Марина Ли</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Хочу сказать огромное спасибо учителю английского языка Анастасии Сергеевне! Она позитивный человек, умеющий найти контакт с ребенком, располагает к себе, ребенку очень понравились занятия. И главное - отношение, для меня в педагоге важен позитивный настрой, всегда есть мотивация ребенка на результат. Анастасия Сергеевна позитивно настроенный профессиональный человек, умеющий грамотно доносить информацию. Ребенок доволен, я довольна, все максимально комфортно. А старший, который учился у нее ранее в гимназии, вспоминает с теплом и благодарностью.</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_4.webp" alt="Dina Z."></div>
                        <div class="author-info">
                           <h4 class="name">Dina Z.</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Ребенок второй год занмается английским на протяжении учебного года, летом продолжает в дистанционном формате. Ходит на занятия с удовольствием. На занятиях ребенку комфортно: обстановка дружелюбная, преподаватель материал преподносит нормально, использует разныв приемы, всегда помогает с подготовкой к контрольным в школе, отвечает на вопросы по школьным домашним заданиям.</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_5.webp" alt="Наталья Батрак"></div>
                        <div class="author-info">
                           <h4 class="name">Наталья Батрак</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Наш любимый центр! Ходим к логопеду Александре, ребенку очень нравится, есть результат!!! Следующая ступень в развитии ребенка - это ваше чудеснео рисование! Такие картины рисуют детки!</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_6.webp" alt="alinakoretska"></div>
                        <div class="author-info">
                           <h4 class="name">alinakoretska</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Ребенок занимается английским более трех лет. Занятия прохидят в игровой форме, все на английском, Дженни - отличный преподаватель, дочь ходит с огромным удовольствием. Администрация всегда идет навстречу: когда уезжали из города летом, занятия продолжались в дистанционном формате. Причем построены так, что ребенок час щанимается с интересом. Также сюда же ходим на ИЗО к Лере, тоже ребенок идет на занятия с радостью.</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_7.webp" alt="Мария Л."></div>
                        <div class="author-info">
                           <h4 class="name">Мария Л.</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Квалифицирвоанные и добрые преподаватели, ребенок в восторге</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_8.webp" alt="Таня Б."></div>
                        <div class="author-info">
                           <h4 class="name">Таня Б.</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Две девочки посещают занятия уже более трех лет. Всегда с удовольствием ходят на занятия и после занятий они в таком приподнятом настроении. Преподаватели действительно умеют и любят взаимодействовать с детьми. Я очень довольна уровнем, который дочки достигли за это время</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_9.webp" alt="Юлия Елисторова"></div>
                        <div class="author-info">
                           <h4 class="name">Юлия Елисторова</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Посещаем Барко уже более трех лет. Нравится лояльность и индивидуальный подход как к родителям, так и к детям! Отлчиная команда профессионалов, умеющая работать с детьми! Кстати, там и для взрослых есть языковые занятия.</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_14.webp" alt="Иван"></div>
                        <div class="author-info">
                           <h4 class="name">Иван</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Ходим всей семьей (2 дочи и мама). Очень хороший преподавательский коллектив, приятная администрация. А самое главное - всем нравится и все по-домашнему и мило.</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_10.webp" alt="Мария Тараск"></div>
                        <div class="author-info">
                           <h4 class="name">Мария Тараск</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Отличная школа, ходим уже второй год на английский. Замечательный преподаватель, ребенок ходит с удовольствием</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_11.webp" alt="Олеся У."></div>
                        <div class="author-info">
                           <h4 class="name">Олеся У.</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Занимаемся пол года у логопеда Александры. Ребенок ходит с настроением, хорошой результат.</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_12.webp" alt="М Г"></div>
                        <div class="author-info">
                           <h4 class="name">М Г</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Хорошая школа и грамотные преподаватели!</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_17.webp" alt="@photodamka"></div>
                        <div class="author-info">
                           <h4 class="name">@photodamka</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Нам повезло найти этот детский клуб. Дети ходят с удовольствием и радует результат!</p>
                  </div>

                  <div class="swiper-slide review">
                     <div class="author">
                        <div class="photo"><img src="../../../img/optimized/avatars/avatar_15.webp" alt="Азиатская девушка"></div>
                        <div class="author-info">
                           <h4 class="name">Vladimir Alekhin</h4>
                           <span class="descr">Счастливый клиент</span>
                        </div>
                     </div>
                     <p class="review-text">Хорошая школа, профессиональные преподаватели, приятная атмосфера. Рекомендую.</p>
                  </div>
   
               </div>
            </div>

            <div class="swiper-pagination reviews-pagination" id="swiper-pagination"></div>

            <div class="swiper-button-prev arrow circle-arrow"></div>
            <div class="swiper-button-next arrow circle-arrow"></div>
         </div>

         <!-- <img src="../../../img/triangle_quotes.svg" alt="" class="quote-img animate"> -->

         <a href="#contact-form-wrap" class="ui-btn btn--action max900 animate"><span>Пробное занятие</span></a>
      </div>
   </div>
</section>