.reviews-section {
   padding: 60px 0;
   background: $weakColorSelection;
   position: relative;
   overflow: hidden;

   &:after, &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
   }
   &:after {}
   &:before {}

   .ui-container {
      display: grid;
      grid-template: auto / minmax(400px, 535px) 1fr;
      align-items: center;
      gap: 40px;
   }

   .reviews {
      width: 100%;
      max-width: 720px;
      justify-self: end;
      position: relative;
   }

   .section-title {
      margin-bottom: 35px;
      max-width: 430px;
   }

   .text {
      margin-bottom: 60px;
      font-family: $Rob;
      font-size: 17px;
      font-weight: 300;
      line-height: 171%;
      color: $title;
   }
}


// TODO Swiper
.swiper-reviews {
   width: 100%;
   border-radius: $blockR;
   box-shadow: 0px 8px 40px rgba(0, 15, 47, 0.07);
   .review {
      padding: 40px 60px 40px 40px;
      width: 100%;
      background: $light;
      border-radius: $blockR;
      .author {
         margin-bottom: 20px;
         display: flex;
         align-items: center;
         gap: 20px;
         .photo {
            padding: 5px;
            width: 90px;
            height: 90px;
            background: $action;
            border-radius: 50%;
            flex: 0 0 90px;
            img {
               max-width: 100%;
               height: auto;
               border-radius: 50%;
            }
         }

         .author-info {
            .name {
               margin-bottom: 7px;
               font-size: 20px;
               font-weight: 600;
               line-height: 110%;
               color: $title;
            }
            .descr {
               font-family: $MontsAlt;
               font-size: 14px;
               font-weight: 500;
               line-height: 100%;
               color: $action;
            }
         }
      }

      .review-text {
         font-family: $Rob;
         font-size: 14px;
         font-weight: 400;
         line-height: 170%;
         color: $text;
      }
   }
}


// TODO Swiper Pagination
#reviews-pagination {
   margin: 30px auto 0 auto;
   bottom: -45px;
   left: 50%;
   transform: translateX(-50%);
   .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: $action;
   }
}


@media all and (max-width: 1200px) {
   $currentW: 1200;
   $targetW: 900;

   .reviews-section .reviews {
      max-width: calcSize($currentW, $targetW, 720, 420);
   }
}


@media all and (max-width: 900px) {
   .reviews-section {
      .ui-container {
         display: block;
      }
      .reviews {
         justify-self: center;
         max-width: 100%;
      }
      .decor-title { justify-content: center; }
      .section-title { 
         margin: 0 auto 35px auto;
         text-align: center; 
      }
      .text {
         margin: 0 auto 55px auto;
         max-width: 670px;
         text-align: center;
      }
      .btn--action {
         margin: 0 auto 55px auto;
         text-align: center;
         display: block;
      }
   }

   .swiper-reviews {
      .review { padding: 40px; }
   }
}

@media all and (max-width: 768px) {
   .reviews-section .text { font-size: 16px; }
} 

@media all and (max-width: 400px) {
   .swiper-reviews {
      .review { 
         padding: 30px 25px; 
         .author {
            flex-direction: column;
            align-items: center;
            .name, .descr  { text-align: center; display: block; }
            
         }
      }
   }
}