<section class="section-about" id="about">
   <div class="ui-container container--flex">
      <div class="about-img">
         <div class="skill animate">
            <span class="numb">7+</span>
            <p class="text">лет опыта работы с детьми</p>
         </div>

         <div class="img-wrap animate">
            <picture>
               <source srcset="../../../img/optimized/about_img_450w.webp" media="(max-width: 450px)">
               <source srcset="../../../img/optimized/about_img_1.5x_950w.webp" media="(max-width: 950px)">
               <img loading="lazy" src="../../../img/optimized/about_img.webp" alt="About Barko School">
            </picture>
         </div>

         <!-- <div class="about-video-open animate">
            <div class="video-btn"><i class="i-play"></i></div>
            <p class="text">Наш рабочий процесс</p>
         </div> -->
      </div>

      <div class="about-info">
         <h3 class="decor-title animate">Несколько слов о нас</h3>
         <h2 class="section-title animate">Почему стоит учиться у нас</h2>
         <p class="text animate">Более 7 лет мы занимаемся эффективным обучением детей разных возрастов. Наш подход основан на инновационных методиках, включая языковые курсы, творческие занятия и программы раннего развития. Кроме того, мы создали собственные уникальные методики, которые помогают раскрыть потенциал каждого ребенка и обеспечить успешное будущее.</p>
         
         <div class="btn-wrap animate">
            <a href="#contact" class="ui-btn btn--action"><span>Пробное занятие</span></a>
            <a href="#" class="ui-btn btn--bordered"><span>О нас</span></a>
         </div>
      </div>
   </div>

   @@include('../../features/features.html')
</section>