<section class="section-about" id="about">
   <div class="ui-container container--flex">
      <div class="about-img">
         <div class="skill">
            <span class="numb">7+</span>
            <p class="text">лет опыта работы с детьми</p>
         </div>

         <div class="img-wrap"><img src="../../../img/optimized/about_img.webp" alt="About Barko School"></div>

         <div class="about-video-open">
            <div class="video-btn"><i class="i-play"></i></div>
            <p class="text">Наш рабочий процесс</p>
         </div>
      </div>

      <div class="about-info">
         <h5 class="decor-title">Несколько слов о нас</h5>
         <h2 class="section-title">Почему стоит учиться у нас</h2>
         <p class="text">Уже более 7 лет мы успешно обучаем детей различных возрастов, используя методики, включающие языковые курсы, творческие занятия и программы раннего развития. Мы также создаем собственные методики, благодаря которым каждый ребенок раскрывает свой потенциал и обретает навыки, необходимые для успешного будущего.</p>
         
         <div class="btn-wrap">
            <button class="ui-btn btn--action"><span>Пробное занятие</span></button>
            <a href="#" class="ui-btn btn--bordered"><span>О нас</span></a>
         </div>
      </div>
   </div>
</section>