<section class="section-about" id="about">
   <div class="ui-container container--flex">
      <div class="about-img">
         <div class="skill animate">
            <span class="numb">7+</span>
            <p class="text">лет опыта работы с детьми</p>
         </div>

         <div class="img-wrap animate">
            <picture>
               <source srcset="../../../img/optimized/about_img_450w.webp" media="(max-width: 450px)" alt="About Barko School">
               <source srcset="../../../img/optimized/about_img_1.5x_950w.webp" media="(max-width: 950px)" alt="About Barko School">
               <img src="../../../img/optimized/about_img.webp" alt="About Barko School">
            </picture>
         </div>

         <div class="about-video-open animate">
            <div class="video-btn"><i class="i-play"></i></div>
            <p class="text">Наш рабочий процесс</p>
         </div>
      </div>

      <div class="about-info">
         <h5 class="decor-title animate">Несколько слов о нас</h5>
         <h2 class="section-title animate">Почему стоит учиться у нас</h2>
         <p class="text animate">Уже более 7 лет мы успешно обучаем детей различных возрастов, используя методики, включающие языковые курсы, творческие занятия и программы раннего развития. Мы также создаем собственные методики, благодаря которым каждый ребенок раскрывает свой потенциал и обретает навыки, необходимые для успешного будущего.</p>
         
         <div class="btn-wrap animate">
            <button class="ui-btn btn--action"><span>Пробное занятие</span></button>
            <a href="#" class="ui-btn btn--bordered"><span>О нас</span></a>
         </div>
      </div>
   </div>
</section>