/*
   Структурные элементы:
   -  Заголовок - h4.detail-info-title
   -  Текст - p.detail-info-text
   -  Список - ul.detail-info-list>li.detail-list-item 
*/

.detail-info-title {
   margin-bottom: 20px;
   font-size: 21px;
   font-weight: 600;
   line-height: 130%;
   color: $textLight;
}

.detail-info-text {
   margin-top: 15px;
   font-family: $Rob;
   font-size: 15px;
   font-weight: 400;
   line-height: 185%;
   color: $text;

   strong {
      font-weight: 600;
      color: $textLight;
   }
}

.detail-info-list {
   li {
      font-family: $Rob;
      font-size: 15px;
      font-weight: 400;
      line-height: 165%;
      color: $text;
      position: relative;
      // display: flex;
      align-items: flex-start;

      strong {
         padding-right: 5px;
         font-weight: 600;
         color: $textLight;

         &.pl {
            padding-right: 0;
            padding-left: 5px;
         }
      }

      &:not(:last-child) {
         margin-bottom: 10px;
      }

      &:before {
         content: '';
         position: absolute;
         left: 0;
         display: inline-block;
         background: $action;
         font-family: $BRFont;
         font-size: 14px;
         color: $action;
         line-height: 100%;
      }
   }

   &.inside-list {
      margin: 10px 0 10px 10px;
   }

   &.circle-fill {
      li {
         padding-left: 20px;
         &:before {
            margin-top: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
         }
      }
   }

   &.circle-border {
      li {
         padding-left: 20px;
         &:before {
            margin-top: 8px;
            width: 8px;
            height: 8px;
            background: transparent;
            border-radius: 50%;
            border: 1px solid $action;
         }
      }
   }

   &.check {
      li {
         padding-left: 25px;
         &:before {
            margin-top: 5px;
            content: '\e914';
            background: none;
         }
      }
   }

   &.check-circle {
      li {
         padding-left: 25px;
         &:before {
            margin-top: 5px;
            content: '\e915';
            background: none;
         }
      }
   }
}

.course-popup {
   .popup {
      max-width: 700px;
      border-radius: 15px;
      box-shadow: 0px 15px 30px 11px rgba(0, 0, 0, 0.25);
      overflow: hidden;
   }

   &-head {
      position: relative;

      .course-popup-title {
         padding: 180px 30px 50px 30px;
         position: relative;
         font-size: 24px;
         font-weight: 700;
         line-height: 133%;
         color: $light;
         max-width: 470px;
         z-index: 1;
      }

      .img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
         }

         &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0.01%, rgba(0, 0, 0, 0) 113.46%);
         }
      }
   }
   
   &-body {
      margin-top: -25px;
      padding: 40px 30px 50px 30px;
      position: relative;
      border-radius: 15px;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
      background: $footerBg;
      z-index: 1;

      .short-info {
         padding-bottom: 35px;
         position: relative;
         &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -30px;
            width: 75%;
            height: 1px;
            background: $action;
         }

         &-item {
            display: grid;
            grid-template: auto / minmax(250px, 1.5fr) 1fr;
            gap: 20px;

            &:not(:first-child) {
               margin-top: 25px;
            }

            .name {
               display: flex;
               align-items: flex-start;
               gap: 10px;

               span {
                  font-family: $Rob;
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 120%;
                  color: $text;
               }

               .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 18px;
                  height: 18px;
                  flex: 0 0 18px;
                  
                  i {
                     font-size: 18px;
                     color: $action;
                  }
               }
            }

            .value {
               font-size: 15px;
               font-weight: 500;
               line-height: 100%;
               color: $textLight;
               align-self: center;
            }
         }
      }

      .detail-info {
         margin-top: 60px;
         
         &-item {
            &:not(:last-child) {
               margin-bottom: 50px;
            }
         }
      }

      .course-popup-action {
         margin-top: 80px;
         padding-top: 35px;
         border-top: 1px solid rgba(145, 147, 163, .3);
         display: flex;
         align-items: center;
         justify-content: space-between;

         .btn-group {
            display: flex;
            align-items: center;
            gap: 15px;
         }

         .btn--course {
            padding: 12px 22px;
            font-size: 16px;
            overflow: hidden;
            &.btn--bordered {
               color: $textLight;
               &:after {
                  border: 1px solid $textLight;
                  transition: all .2s ease;
               }
               &:hover {
                  color: $darkDecor;
                  background: $textLight;
                  &:after {
                     border: 1px solid $textLight;
                  }
               }
            }
         }
      }
   }
}

@media all and (max-width: 630px) {
   .course-popup-body .course-popup-action {
      flex-direction: column;
      align-items: center;
      gap: 25px;
   }
} 

@media all and (max-width: 550px) {
   .course-popup-head .course-popup-title {
      padding: 180px 20px 50px 20px;
   }

   .course-popup-body {
      padding: 40px 20px 50px 20px;
      .short-info {
         &:after {
            width: 85%;
         }
      }

      .short-info-item {
         grid-template: auto / 1fr;
         gap: 10px;

         &:not(:first-child) {
            margin-top: 30px;
         }

         .value {
            margin-left: 30px;
         }
      }
   }

   .detail-info-list.inside-list {
      margin: 10px 0 10px 0px;
  }  
}

@media all and (max-width: 440px) {
   .course-popup-body .course-popup-action {
      gap: 40px;
      .btn-group {
         flex-direction: column;
         align-items: center;
      }
   }
}


@media all and (max-width: 370px) {
   .popup-wrap.course-popup {
      padding: 40px 15px 40px 15px;
   }

   .course-popup-body { padding: 40px 15px 50px 15px; }
   .course-popup-head .course-popup-title { padding: 180px 15px 50px 15px; }
}