<div class="popup-wrap course-popup" id="course-popup">
   <div class="popup">

      <div class="course-popup-head">
         <div class="btn-close-wrap el-popup--close">@@include('../../ui/ui-close/ui-close.html')</div>
         <div class="img"><img src="" alt="Soft skills (гибкие навыки)"></div>
         <h3 class="course-popup-title"></h3>
      </div>

      <div class="course-popup-body">
         <ul class="short-info">
            <li class="short-info-item age">
               <div class="name">
                  <div class="icon"><i class="i-adult"></i></div> 
                  <span>Возраст</span>
               </div>
               <div class="value"></div>
            </li>
         </ul>

         <div class="detail-info"></div>
         <div class="course-popup-action">
            <div class="btn-group">
               <a href="#contacts" class="ui-btn btn--action btn--course el-popup--close"><span>Пробное занятие</span></a>
            </div>
            <div class="socials socials--top socials--course">
               @@include('../../socials/socials.html')
            </div>
         </div>
      </div>

   </div>

   <div class="popup-overlay"></div>
</div>