<div class="popup-wrap course-popup" id="course-popup">
   <div class="popup">

      <div class="course-popup-head">
         @@include('../../ui/ui-close/ui-close.html')
         <div class="img"><img src="" alt="Soft skills (гибкие навыки)"></div>
         <h3 class="course-popup-title"></h3>
      </div>

      <div class="course-popup-body">
         <ul class="short-info">
            <li class="short-info-item age">
               <div class="name">
                  <div class="icon"><i class="i-adult"></i></div> 
                  <span>Возраст</span>
               </div>
               <div class="value"></div>
            </li>

            <li class="short-info-item price">
               <div class="name">
                  <div class="icon"><i class="i-dollar"></i> </div>
                  <span>Стоимость</span>
               </div>
               <div class="value"></div>
            </li>

            <li class="short-info-item duration">
               <div class="name">
                  <div class="icon"><i class="i-time"></i> </div>
                  <span>Длительность занятия</span>
               </div>
               <div class="value"></div>
            </li>
         </ul>

         <div class="detail-info"></div>

         <div class="course-popup-action">
            <a href="#contact" class="ui-btn btn--action btn--course"><span>Пробное занятие</span></a>
            <div class="socials socials--top socials--course">
               @@include('../../socials/socials.html')
            </div>
         </div>
      </div>

   </div>

   <div class="popup-overlay"></div>
</div>