<div class="popup-wrap course-popup" id="soft-skills">
   <div class="popup">

      <div class="course-popup-head">
         @@include('../../ui/ui-close/ui-close.html')
         <div class="img"><img src="../../../img/optimized/courses/soft-skills.webp" alt="Soft skills (гибкие навыки)"></div>
         <h3 class="course-popup-title">Soft skills (гибкие навыки)</h3>
      </div>

      <div class="course-popup-body">
         <ul class="short-info">
            <li class="short-info-item">
               <div class="name"><i class="i-clock-fill"></i> <span>Возраст</span></div>
               <div class="value">4 - 11 лет</div>
            </li>

            <li class="short-info-item">
               <div class="name"><i class="i-clock-fill"></i> <span>Стоимость</span></div>
               <div class="value">От 4 400 рублей</div>
            </li>

            <li class="short-info-item">
               <div class="name"><i class="i-clock-fill"></i> <span>Длительность занятия</span></div>
               <div class="value">50 минут</div>
            </li>
         </ul>

         <div class="detail-info">
            <div class="detail-info-item">
               <h4 class="detail-info-title">Важность гибких навыков</h4>
               <p class="detail-info-text">Чтобы быть успешными в будущем детям нужно научиться эффективно и гармонично выстраивать межличностное взаимодействие, т.е. развивать такие качества как: организованность, умение работать в команде, критическое мышление, креативность, дружелюбность, лидерские качества, умение решать сложные задачи и т.д.</p>
            </div>

            <div class="detail-info-item">
               <h4 class="detail-info-title">Курс состоит из 4 блоков:</h4>
               <ul class="detail-info-list check">
                  <li>Самопрезентация</li>
                  <li>Формирование дружеских отношений</li>
                  <li>Создание договоренностей</li>
                  <li>Работа в команде</li>
               </ul>
            </div>

            <div class="detail-info-item">
               <p class="detail-info-text">Мы начнем закладывать необходимую базу для развития этих гибких навыков. В каждом блоке 4 занятия по 50 минут, которые проводятся в игровой форме с обсуждениями. <strong>Занятия проходят 1 раз в неделю.</strong></p>
            </div>


         </div>

         <div class="course-popup-action">
            <button class="ui-btn btn--action btn--course"><span>Пробное занятие</span></button>
            <div class="socials socials--top socials--course">
               @@include('../../socials/socials.html')
            </div>
         </div>
      </div>

   </div>

   <div class="popup-overlay"></div>
</div>