<section class="contact-section" id="contact">
   <div class="ui-container">
      <h3 class="decor-title animate">Контакты</h3>
      <h2 class="section-title animate">Наши контакты</h2>
   </div>

   <div class="map-wrap animate">
      <div id="map"><iframe loading="lazy" src="https://yandex.ru/map-widget/v1/?um=constructor%3Afe91e98c9d80a4a712a4c72bc8ffd602a901206a6ae1876fa9c69cad52d8774e&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe></div>
      @@include('../../contact-links/contact-links.html')
   </div>

   <div class="contact-form-container ui-container">
      @@include('../../contact-form/contact-form.html')
   </div>
</section>