.contact-section {
   padding-top: 100px;

   .ui-container {
      position: relative;
   }

   .section-title {
      margin-bottom: 50px;
   }

   #map {
      width: 100%;
      height: 400px;
   }
}