.ui-dropdown {
   position: relative;

   .selected {
      position: relative;
      cursor: pointer;
      &:after {

         content: '\e919';
         position: absolute;
         top: 50%;
         right: 21px;
         transform: translateY(-50%) rotate(90deg);
         font-family: $BRFont;
         font-size: 13px;
         color: $text;
         transition: all .2s ease;
      }
   }

   .options {
      background: $light;
      border-radius: $blockR;
      overflow: hidden;
      box-shadow: $blocksWhiteS;
      width: 100%;
      position: absolute;
      left: 0;
      top: 140%;
      opacity: 0;
      visibility: hidden;
      transition: all .2s ease;
      z-index: 1;

      .option {
         padding: 14px 25px;
         font-family: $Rob;
         font-weight: 300;
         font-size: 14px;
         line-height: 93%;
         color: $text;
         cursor: pointer;
         transition: all .2s ease;

         &:hover {
            background: $weakColorSelection;
            color: $title; 
         }

         &.current {
            background: $weakDecor;
            color: $title;
         }
      }
   }

   &.active {
      .selected {
         &:after {
            transform: translateY(-50%) rotate(270deg);
         }
      }

      .options {
         opacity: 1;
         visibility: visible;
         top: 110%;
      }
   }
}