<div class="swimming swimming-1 dark">
   <img src="../../../../img/english/swimming_2.svg" alt="" class="swimming-img">
   <p class="swimming-text">Пробное занятие бесплатно</p>
</div>

<div class="swimming swimming-2">
   <img src="../../../../img/english/swimming_1.svg" alt="" class="swimming-img">
   <p class="swimming-text">Обучаем детей с 3-х лет</p>
</div>

<div class="swimming swimming-3">
   <img src="../../../../img/english/swimming_3.svg" alt="" class="swimming-img">
   <p class="swimming-text">Кембриджская программа</p>
</div>