header {
   padding-top: 25px;

   .logo {
      max-width: 210px;
      img {
         max-width: 100%;
         height: auto;
      }
   }
}

@media all and (max-width: 840px) {
   header .logo { max-width: 180px; }
}

@media all and (max-width: 560px) {
   header { padding-top: 15px; }
}