<section class="hero-section">
   <div class="ui-container container--flex">
      <div class="hero-info">
         <h1 class="hero-title animate">Barko <mark>School</mark></h1>
         <h2 class="hero-subtitle animate">Центр комплексного развития</h2>

         <ul class="hero-list animate">
            <li>Авторские программы с индивидуальным подходом</li>
            <li>Развитие детей в безопасной и уютной среде</li>
         </ul>

         <div class="hero-action">
            <div class="btn--hero-dark-wrap animate"><a href="#about" class="ui-btn btn--dark btn--hero-dark"><span>О нас</span></a></div>
            <div class="action-wrap animate">
               <div class="action-icon"><i class="i-check-bold"></i></div>
               <p class="action-text">Пробное занятие бесплатно</p>
               <a href="#contacts" class="ui-btn btn--icon btn--action btn--hero-action"><span>Запишитесь сейчас</span> <i class="i-arrow-right-xl"></i></a>
            </div>
         </div>
      </div>

      <div class="hero-img">
         <div class="img-wrap animate">
            <picture>
               <source srcset="../../../img/optimized/hero_img_2x_950w.webp" media="(max-width: 950px)">
               <img src="../../../img/optimized/hero_img_2x.webp" alt="Girl - super women">
            </picture>
            
            <img class="triangle animate" src="../../../img/triangle.svg" alt="">
         
            <div class="hero-award"><i class="i-award-fill"></i></div>
         </div>

         <!-- show on @media <= 950px -->
         <div class="free-lesson animate">
            <p class="text">Пробное занятие бесплатно</p>
            <div class="icon"><i class="i-check-bold"></i></div>
         </div>
      </div>
   </div>
</section>