$offset: 30px;

.hero-wrap {
   position: relative;
   overflow: hidden;
   .hero-bg {
      position: absolute;
      top: -5px;
      left: 140px;
      z-index: -1;
      // margin-top: 0;
      // margin-left: 7%;
   }
}

.hero-section {
   padding-bottom: 200px;
   // overflow: hidden;
   position: relative;
   .ui-container { position: relative; }
}


// TODO Info

.hero-info {
   margin-top: 165px;
   position: relative;
   z-index: 1;
}

.hero-title {
   font-size: 95px;
   font-weight: 700;
   line-height: 105%;
   color: $title;
   mark {
      color: $action;
      background: transparent;
   }
}

.hero-subtitle {
   margin: 10px 0 50px 0;
   font-family: $MontsAlt;
   font-size: 42px;
   font-weight: 400;
   line-height: 110%;
   color: $title;
   max-width: 640px;
}

.hero-list {
   li {
      font-family: $Rob;
      font-size: 17.5px;
      font-weight: 300;
      line-height: 120%;
      color: $title;
      display: flex;
      align-items: flex-start;
      &:not(:last-child) { margin-bottom: 10px; }
      &:before {
         content: '\e91a';
         margin-right: 13px;
         display: block;
         color: $action;
         font-family: $BRFont;
         font-size: 18px;
      }
   }
}

.hero-action {
   margin-top: 90px;
   display: flex;
   align-items: center;
   gap: 20px;
   position: relative;
   z-index: 1;

   .btn--hero-dark {
      padding: 17px 25px;
      font-weight: 500;
   }

   .action-wrap {
      background: $light;
      border-radius: $btnR;
      display: flex;
      align-items: center;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
      
      .action-icon {
         margin-right: 20px;
         height: 55px;
         width: 55px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: $weakDecor;
         border-radius: 50%;
         i {
            font-size: 24px;
            color: $action;
         }
      }
      .action-text {
         margin-right: 65px;
         font-family: $MontsAlt;
         font-size: 18px;
         font-weight: 400;
         line-height: 100%;
         color: $title;
      }

      .btn--hero-action {
         padding: 19px 28px 18px 28px;
         box-shadow: none;
         i {
            font-size: 15px;
         }
      }
   }
}



// TODO image

.hero-img {
   position: absolute;
   top: 60px;
   right: -30px;
   max-width: 590px;
   z-index: 0;
   .img-wrap {
      width: 100%;
      position: relative;
      img {
         max-width: 100%;
         height: auto;
      }
   }
   img.triangle {
      position: absolute;
      bottom: 25px;
      left: -20px;
      width: 230px;
      height: 186px;
   }
   .hero-award {
      position: absolute;
      bottom: -15px;
      right: 0;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: rgba(33, 37, 41, 0.6);
      animation: awardMove 6s ease-in-out infinite;
      i {
         font-size: 55px;
         color: $light;
      }
   }
}

@keyframes awardMove {
   0% { transform: translateY(0); }
   50% { transform: translateY(20px); }
   100% { transform: translateY(0); }
}




// TODO free lesson (show on @media <= 950px)
.free-lesson {
   $width: 190px;

   background: $weakDecor;
   width: $width;
   height: $width;
   display: none;
   align-items: center;
   text-align: center;
   box-shadow: 0px 0px 0px 15px rgba(255, 231, 237, 0.42);
   border-radius: 50%;
   position: absolute;
   top: 40%;
   left: 70px;
   .text {
      font-family: $MontsAlt;
      font-size: 21px;
      font-weight: 500;
      line-height: 132%;
      color: $title;
   }
   .icon {
      $width: 75px;

      width: $width;
      height: $width;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      background: $action;
      position: absolute;
      left: 0;
      top: calc(-#{$width} / 2);
      border-radius: 50%;
      box-shadow: $btnActionS;
      i {
         color: $light;
      }
   }
}



// TODO Scroll animation

.hero-wrap .hero-bg {
   @include scrollAnimationFade($toLeft: true, $delay: 0.15s, $transform: 0)
}
.hero-title {
   @include scrollAnimationFade($toLeft: true, $delay: 0.6s, $transform: $offset)
}
.hero-subtitle {
   @include scrollAnimationFade($toLeft: true, $delay: 0.68s, $transform: $offset)
}
.hero-list {
   @include scrollAnimationFade($toLeft: true, $delay: 0.8s, $transform: $offset)
}
.hero-action .btn--hero-dark-wrap {
   @include scrollAnimationFade($toLeft: true, $delay: 0.9s, $transform: $offset)
}
.hero-action .action-wrap {
   @include scrollAnimationFade($toLeft: true, $delay: 1s, $transform: $offset)
}
.hero-img .img-wrap {
   @include scrollAnimationFade($toRight: true, $duration: 1.1s, $delay: 0.3s, $transform: 60px)
}
.hero-img .triangle {
   @include scrollAnimationFade($toRight: true, $duration: 1.1s, $delay: 0.37s, $transform: 60px)
}


@media all and (max-width: 1920px) {
   .hero-wrap .hero-bg {
      left: calc((100vw - 1400px) / (1920 - 1400) * (140 - 0) + 0px);
   }
}

@media all and (max-width: 1500px) {
   .hero-img { right: 10px; }
}

@media all and (max-width: 1300px) {
   $currentW: 1300;
   $targetW: 1100;

   .hero-wrap .hero-bg { top: -60px; }

   .hero-title { font-size: calcSize($currentW, $targetW, 95, 80); }
   .hero-subtitle { 
      font-size: calcSize($currentW, $targetW, 42, 37); 
      max-width: 500px;
   }
   .hero-img { 
      max-width: calcSize($currentW, $targetW, 590, 490);
      .img-wrap img.triangle {
         width: calcSize($currentW, $targetW, 186, 130);
         height: auto;
         left: calcSize($currentW, $targetW, -20, 20);
         bottom: calcSize($currentW, $targetW, 25, 20);
      }
   }
   .hero-list li { font-size: calcSize($currentW, $targetW, 17.5, 16); }
}

@media all and (max-width: 1100px) {
   $currentW: 1100;
   $targetW: 950;

   .hero-section { padding-bottom: 110px; }

   .hero-title { 
      font-size: 100px; 
      line-height: 90%;
      max-width: 360px;
   }
   .hero-subtitle { 
      margin: 25px 0 50px 0;
      font-size: 36px; 
   }
   .hero-img { 
      max-width: calcSize($currentW, $targetW, 520, 470); 
      .img-wrap img.triangle {
         width: calcSize($currentW, $targetW, 130, 100);
         left: calcSize($currentW, $targetW, 20, 60);
         bottom: calcSize($currentW, $targetW, 50, 30);
      }
   }
   .hero-list li { font-size: 17.5px; }
}

@media all and (max-width: 950px) {
   $currentW: 950;
   $targetW: 768;

   .hero-wrap .hero-bg { top: -500px; }

   .hero-section .ui-container { 
      flex-direction: column;
      align-items: center;
   }

   .hero-img { 
      margin-top: 30px;
      max-width: 100%;
      width: 100%;
      order: 1;
      position: relative;
      left: auto;
      right: 0;
      top: 0;
      display: flex;
      justify-content: flex-end;
      .img-wrap {
         max-width: 490px;
         margin-right: calcSize($currentW, $targetW, 80, 0);
         img {
            max-width: 100%;
            height: auto;
         }
         img.triangle {
            width: 100px;
            left: 60px;
            bottom: 20px;
         }
      }
      .free-lesson {
         display: flex;
         left: calcSize($currentW, $targetW, 90, 15);
      }
   }

   .hero-info {
      margin-top: 30px;
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .hero-title { 
      font-size: 95px; 
      line-height: 95%;
      max-width: 100%;
      order: 1;
   }
   
   .hero-subtitle { 
      margin: 10px 0 60px 0;
      font-size: 33px;
      line-height: 136%;
      max-width: 100%; 
      order: 2;
   }

   .hero-action {
      margin: 0 0 60px 0;
      order: 3;
      .btn--hero-dark-wrap { display: flex; }
      .action-wrap {
         .action-icon, .action-text { display: none; }
      }
   }
   
   .hero-list { 
      order: 4;
      li { font-size: 18px; }
   }


   .hero-img .img-wrap {
      @include scrollAnimationFade($toRight: true, $duration: 0.8s, $delay: 0.15s, $transform: 60px)
   }
   .hero-img .free-lesson {
      @include scrollAnimationFade($toRight: true, $duration: 0.8s, $delay: 0.3s, $transform: 60px)
   }
   .hero-title {
      @include scrollAnimationFade($toLeft: true, $duration: 0.8s, $delay: 0.45s, $transform: $offset)
   }
   .hero-subtitle {
      @include scrollAnimationFade($toLeft: true, $duration: 0.8s, $delay: 0.55s, $transform: $offset)
   }
   .hero-list {
      @include scrollAnimationFade($toLeft: true, $delay: 0.2s, $transform: $offset)
   }
   .hero-action .btn--hero-dark-wrap  {
      @include scrollAnimationFade($toLeft: true, $delay: 0.28s, $transform: $offset)
   }
   .hero-action .action-wrap {
      @include scrollAnimationFade($toLeft: true, $delay: 0.2s, $transform: $offset)
   }
}

@media all and (max-width: 768px) {
   $currentW: 768;
   $targetW: 576;

   .hero-img {
      .img-wrap {
         margin-right: calcSize($currentW, $targetW, 30, 0);
         max-width: calcSize($currentW, $targetW, 470, 440);
         img.triangle { display: none; }
      }
      .free-lesson {
         $width: calcSize($currentW, $targetW, 190, 150);
         width: $width;
         height: $width;
         left: calcSize($currentW, $targetW, 60, 10);
         bottom: 0;
         top: auto;
         p { font-size: calcSize($currentW, $targetW, 21, 16); }
         .icon {
            $width: calcSize($currentW, $targetW, 75, 60);
            width: $width;
            height: $width;
            font-size: calcSize($currentW, $targetW, 32, 26);
         }
      }
   }

   .hero-title { font-size: calcSize($currentW, $targetW, 95, 75); }

   .hero-subtitle {
      margin: 15px 0 60px 0;
      font-size: calcSize($currentW, $targetW, 33, 28);
      text-align: center;
      max-width: 400px;
      line-height: 120%;
   }
}

@media all and (max-width: 576px) {
   $currentW: 576;
   $targetW: 500;

   .hero-section { padding-bottom: 80px; }

   .hero-title { 
      font-size: calcSize($currentW, $targetW, 95, 87);
      text-align: center;
      line-height: 88%;
   }

   .hero-subtitle {
      margin: 20px 0 50px 0;
      font-size: calcSize($currentW, $targetW, 33, 30);
   }

   .hero-list li { font-size: 17px; }

   .hero-img {
      .img-wrap {
         max-width: 430px;
      }
      .free-lesson {
         $width: calcSize($currentW, $targetW, 150, 135);
         width: $width;
         height: $width;
         left: 10px;
         bottom: -10px;
         top: auto;
         p { font-size: calcSize($currentW, $targetW, 16, 15); }
         .icon {
            $width: 60px;
            width: $width;
            height: $width;
            font-size: 26px;
            top: -30px;
         }
      }
      .hero-award {
         width: 80px;
         height: 80px;
         i { font-size: 45px; }
      }
   }
}

@media all and (max-width: 500px) {
   $currentW: 500;
   $targetW: 350;

   // .hero-wrap .hero-bg { top: -600px; }
   .hero-info { margin-top: 35px; }

   .hero-title { 
      font-size: calcSize($currentW, $targetW, 87, 80);
   }

   .hero-subtitle {
      font-size: calcSize($currentW, $targetW, 30, 26);
   }

   .hero-list li:not(:last-child) { margin-bottom: 15px; }

   .hero-img {
      .img-wrap {
         margin-right: -10px;
         max-width: 100%;
      }
      .free-lesson {
         $width: calcSize($currentW, $targetW, 150, 135);
         width: $width;
         height: $width;
         left: 10px;
         bottom: -10px;
         top: auto;
         p { font-size: calcSize($currentW, $targetW, 16, 15); }
         .icon {
            $width: calcSize($currentW, $targetW, 60, 60);
            width: $width;
            height: $width;
            font-size: calcSize($currentW, $targetW, 26, 26);
         }
      }
   }

   .hero-action {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      .btn--hero-dark { 
         padding: 15px 45px;
         order: 2; 
      }
      .btn--hero-action { order: 1; }
   }
}

@media all and (max-width: 350px) {
   $currentW: 350;
   $targetW: 280;

   .hero-title { 
      font-size: calcSize($currentW, $targetW, 80, 65);
   }

   .hero-subtitle {
      font-size: calcSize($currentW, $targetW, 26, 20);
   }

   .hero-img {
      .img-wrap { margin-right: 0; }
      .free-lesson {
         $width: calcSize($currentW, $targetW, 135, 110);
         bottom: -30px;
         p { 
            font-size: calcSize($currentW, $targetW, 15, 13); 
            max-width: 125px;
         }
         .icon {
            $width: 45px;
            width: $width;
            height: $width;
            top: -10px;
            font-size: 20px;
         }
      }
   }

   .hero-action {
      .action-wrap {
         .ui-btn.btn--hero-action { 
            padding: 18px 25px 17px 25px;
            i { display: none; }
         }
      }
   }
}

