<div class="contact-form-wrap animate">
   <h3 class="form-title">Мы ждем Вас!</h3>
   <p class="form-text">Если у Вас остались вопросы, заполните форму ниже, и мы с удовольствием Вам перезоним!</p>

   <form action="libs/mail.php" method="POST" class="contact-form" id="contact-form" enctype="multipart/form-data">
      <div class="form-item-group media900">

         <div class="form-item">
            <input class="ui-input field" name="Имя" type="text" inputmode="text" autocomplete="on" data-valid="name" placeholder="Ваше имя">
            <span class="error-message"></span>
         </div>
   
         <div class="form-item">
            <input class="ui-input field" name="Телефон" type="tel" inputmode="tel" autocomplete="on" data-valid="phone" placeholder="Ваш Телефон">
            <span class="error-message">Введите корректный номер</span>
         </div>
      </div>

      <div class="form-item">
         <input class="ui-input field" name="Email" type="email" inputmode="email" autocomplete="on" data-valid="email" placeholder="Ваш Email">
         <span class="error-message"></span>
      </div>
      
      <div class="form-item">
         <textarea class="ui-input ui-textarea field" name="Сообщение" data-valid="message" placeholder="Сообщение"></textarea>
         <span class="error-message"></span>
      </div>

      <div class="submit-item">
         <button class="ui-btn btn--action btn--submit" type="submit"><span>Отправить</span></button>
         <p class="warning-text">Конфиденциальность введенных данных гарантируется</p>
      </div>
   </form>
</div>