<div class="features">
   <div class="ui-container container--features">
      <div class="features-row row">
         <div class="features-col animate col-3">
            <div class="feature green tl">
               <div class="icon">
                  <img src="../../img/icons/groups.svg" alt="">
               </div>
               <h4 class="title">Малочисленные группы</h4>
               <p class="text">В целом, конечно, убеждённость некоторых оппонентов требует от нас анализа соответствующих условий</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature red br">
               <div class="icon">
                  <img src="../../img/icons/individual.svg" alt="">
               </div>
               <h4 class="title">Индивидуальный подход</h4>
               <p class="text">В целом, конечно, убеждённость некоторых оппонентов требует от нас анализа соответствующих условий</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature purple tr">
               <div class="icon">
                  <img src="../../img/icons/methodics.svg" alt="">
               </div>
               <h4 class="title">Авторские методики</h4>
               <p class="text">В целом, конечно, убеждённость некоторых оппонентов требует от нас анализа соответствующих условий</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature turquoise bl">
               <div class="icon">
                  <img src="../../img/icons/service.svg" alt="">
               </div>
               <h4 class="title">Качественный сервис</h4>
               <p class="text">В целом, конечно, убеждённость некоторых оппонентов требует от нас анализа соответствующих условий</p>
            </div>
         </div>

         <div class="features-col animate col-3">
            <div class="feature pink tr">
               <div class="icon">
                  <img src="../../img/icons/groups.svg" alt="">
               </div>
               <h4 class="title">Малочисленные группы</h4>
               <p class="text">В целом, конечно, убеждённость некоторых оппонентов требует от нас анализа соответствующих условий</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature yellow bl">
               <div class="icon">
                  <img src="../../img/icons/individual.svg" alt="">
               </div>
               <h4 class="title">Индивидуальный подход</h4>
               <p class="text">В целом, конечно, убеждённость некоторых оппонентов требует от нас анализа соответствующих условий</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature blue tl">
               <div class="icon">
                  <img src="../../img/icons/methodics.svg" alt="">
               </div>
               <h4 class="title">Авторские методики</h4>
               <p class="text">В целом, конечно, убеждённость некоторых оппонентов требует от нас анализа соответствующих условий</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature orange br">
               <div class="icon">
                  <img src="../../img/icons/service.svg" alt="">
               </div>
               <h4 class="title">Качественный сервис</h4>
               <p class="text">В целом, конечно, убеждённость некоторых оппонентов требует от нас анализа соответствующих условий</p>
            </div>
         </div>
      </div>
   </div>
</div>