<div class="features">
   <div class="ui-container container--features">
      <div class="features-row row">
         <div class="features-col animate col-3">
            <div class="feature green tl">
               <div class="icon">
                  <img src="../../img/icons/groups.svg" alt="">
               </div>
               <h4 class="title">Малочисленные группы</h4>
               <p class="text">Малочисленные группы помогают максимально четко выявить интересы каждого ребенка</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature red br">
               <div class="icon">
                  <img src="../../img/icons/individual.svg" alt="">
               </div>
               <h4 class="title">Индивидуальный подход</h4>
               <p class="text">Индивидуальный подход к каждому ребенку, помогает разработать систему обчучения в зависимости от его интересов</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature purple tr">
               <div class="icon">
                  <img src="../../img/icons/methodics.svg" alt="">
               </div>
               <h4 class="title">Авторские методики</h4>
               <p class="text">Мы разрабатываем собственные программы обучения для максимального развития потенциала детей</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature turquoise bl">
               <div class="icon">
                  <img src="../../img/icons/service.svg" alt="">
               </div>
               <h4 class="title">Качественный сервис</h4>
               <p class="text">Комфортные и современные условия, передовые методики развития детей и обучение в игровой форме</p>
            </div>
         </div>

         <div class="features-col animate col-3">
            <div class="feature pink tr">
               <div class="icon">
                  <img src="../../img/icons/groups.svg" alt="">
               </div>
               <h4 class="title">Международный уровень</h4>
               <p class="text">Обучение на качественном международном уровне, который соответствует мировым стандартам</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature yellow bl">
               <div class="icon">
                  <img src="../../img/icons/individual.svg" alt="">
               </div>
               <h4 class="title">Профессионализм</h4>
               <p class="text">Квалифицрованные преподаватели являются профессионалами в своих областях и авторами собственных методик</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature blue tl">
               <div class="icon">
                  <img src="../../img/icons/methodics.svg" alt="">
               </div>
               <h4 class="title">Обучение online и offline</h4>
               <p class="text">Возможность выбрать удобный для себя формат обучения, или совмещать сразу несколько вариантов</p>
            </div>
         </div>
      
         <div class="features-col animate col-3">
            <div class="feature orange br">
               <div class="icon">
                  <img src="../../img/icons/service.svg" alt="">
               </div>
               <h4 class="title">Учимся играя</h4>
               <p class="text">Обучение в игровой способствует лучшему усвоению материала и пониманию концепций изучаемого материала</p>
            </div>
         </div>
      </div>
   </div>
</div>