<footer >
   <div class="ui-container container--flex">
      <a href="#" class="logo"><img src="../../img/logo_light.svg" alt="Barko School Logo"></a>

      <nav class="nav nav--footer">
         @@include('../menu/nav/nav.html')
      </nav>

      <div class="socials socials--footer">
         @@include('../socials/socials.html')
      </div>
   </div>

   <div class="copyright">
      <div class="ui-container">
         <p class="text">Copyright © BARKO<mark>SCHOOL</mark>. Все права защищены.</p>
      </div>
   </div>
</footer>