.socials {
   display: flex;
   align-items: center;
   

   &.socials--top {
      a {
         display: inline-block;
         color: $text;
         font-size: 19px;
         transition: all .2s ease;
         &:hover {
            color: $action;
            transform: translateY(-3px);
         }
         &:not(:last-child) {  margin-right: 18px; }
      }
   }

   &.socials--footer {
      gap: 20px;
      a {
         width: 40px;
         height: 40px;
         background: $light;
         border-radius: 50%;
         box-shadow: $notBlurryLightS;
         @extend %flexCenter;
         transition: all .2s ease;
         i {
            font-size: 21px;
            color: $action;
            transition: all .2s ease;
         }
         &:hover {
            transform: translateY(-3px);
            background: $action;
            box-shadow: 0px 0px 0px 4px rgba(242, 24, 79, 0.25);
            i {
               color: $light;
            }
         }
      }
   }

   &.socials--schedule {
      gap: 30px;
      a {
         font-size: 19px;
         color: $light;
         transition: all .3s ease;
         &:hover {
            transform: translateY(-3px);
            color: $action;
         }
      }
      @media all and (max-width: 500px) {
         a { font-size: 16px; }
      }
   }
}