<section class="gallery-section">
   <div class="ui-container">
      <h3 class="decor-title animate">Немного вдохновения</h3>
      <h2 class="section-title animate">Наши волшебные моменты</h2>

      <div class="gallery">
         <div class="item-1 animate">
            <div class="photo">
               <div class="hidden-overlay">
                  <div class="view-icon"><i class="i-eye"></i></div>
               </div>
               <img src="../../../img/optimized/gallery/gallery_1.webp" alt="">
            </div>
         </div>

         <div class="item-2 animate">
            <div class="photo">
               <div class="hidden-overlay">
                  <div class="view-icon"><i class="i-eye"></i></div>
               </div>
               <img src="../../../img/optimized/gallery/gallery_2.webp" alt="">
            </div>
         </div>

         <div class="item-3 animate">
            <div class="photo">
               <div class="hidden-overlay">
                  <div class="view-icon"><i class="i-eye"></i></div>
               </div>
               <img src="../../../img/optimized/gallery/gallery_3.webp" alt="">
            </div>
         </div>

         <div class="item-4 animate">
            <div class="photo">
               <div class="hidden-overlay">
                  <div class="view-icon"><i class="i-eye"></i></div>
               </div>
               <img src="../../../img/optimized/gallery/gallery_4.webp" alt="">
            </div>
         </div>

         <div class="item-5 animate">
            <div class="photo">
               <div class="hidden-overlay">
                  <div class="view-icon"><i class="i-eye"></i></div>
               </div>
               <img src="../../../img/optimized/gallery/gallery_3.webp" alt="">
            </div>
         </div>

         <div class="item-6 animate">
            <div class="photo">
               <div class="hidden-overlay">
                  <div class="view-icon"><i class="i-eye"></i></div>
               </div>
               <img src="../../../img/optimized/gallery/gallery_2.webp" alt="">
            </div>
         </div>

         <div class="item-7 animate">
            <div class="photo">
               <div class="hidden-overlay">
                  <div class="view-icon"><i class="i-eye"></i></div>
               </div>
               <img src="../../../img/optimized/gallery/gallery_4.webp" alt="">
            </div>
         </div>
      </div>

      <a href="#" class="ui-btn btn--dark btn-all">Смотреть все</a>
   </div>
</section>