<section class="gallery-section" id="gallery">
   <div class="ui-container">
      <h3 class="decor-title animate">Немного вдохновения</h3>
      <h2 class="section-title animate">Наши волшебные моменты</h2>
   </div>

   <div class="gallery swiper-wrap">
      <div class="swiper" id="gallery-swiper">
         <div class="swiper-wrapper">

            <div class="swiper-slide item" data-img-preview="../../../img/optimized/gallery/gallery_1_lg.webp">
               <div class="photo">
                  <div class="hidden-overlay">
                     <div class="view-icon"></div>
                  </div>
                  <img loading="lazy" src="../../../img/optimized/gallery/gallery_1.webp" alt="">
               </div>
            </div>

            <div class="swiper-slide item" data-img-preview="../../../img/optimized/gallery/gallery_2_lg.webp">
               <div class="photo">
                  <div class="hidden-overlay">
                     <div class="view-icon"></div>
                  </div>
                  <img loading="lazy" src="../../../img/optimized/gallery/gallery_2.webp" alt="">
               </div>
            </div>

            <div class="swiper-slide item" data-img-preview="../../../img/optimized/gallery/gallery_3_lg.webp">
               <div class="photo">
                  <div class="hidden-overlay">
                     <div class="view-icon"></div>
                  </div>
                  <img loading="lazy" src="../../../img/optimized/gallery/gallery_3.webp" alt="">
               </div>
            </div>

            <div class="swiper-slide item" data-img-preview="../../../img/optimized/gallery/gallery_4_lg.webp">
               <div class="photo">
                  <div class="hidden-overlay">
                     <div class="view-icon"></div>
                  </div>
                  <img loading="lazy" src="../../../img/optimized/gallery/gallery_4.webp" alt="">
               </div>
            </div>

            <div class="swiper-slide item" data-img-preview="../../../img/optimized/gallery/gallery_5_lg.webp">
               <div class="photo">
                  <div class="hidden-overlay">
                     <div class="view-icon"></div>
                  </div>
                  <img loading="lazy" src="../../../img/optimized/gallery/gallery_5.webp" alt="">
               </div>
            </div>

            <div class="swiper-slide item" data-img-preview="../../../img/optimized/gallery/gallery_6_lg.webp">
               <div class="photo">
                  <div class="hidden-overlay">
                     <div class="view-icon"></div>
                  </div>
                  <img loading="lazy" src="../../../img/optimized/gallery/gallery_6.webp" alt="">
               </div>
            </div>

            <div class="swiper-slide item" data-img-preview="../../../img/optimized/gallery/gallery_7_lg.webp">
               <div class="photo">
                  <div class="hidden-overlay">
                     <div class="view-icon"></div>
                  </div>
                  <img loading="lazy" src="../../../img/optimized/gallery/gallery_7.webp" alt="">
               </div>
            </div>
            
         </div>
      </div>

      <div class="swiper-pagination gallery-pagination" id="swiper-pagination"></div>
      
      <div class="swiper-button-prev arrow circle-arrow"></div>
      <div class="swiper-button-next arrow circle-arrow"></div>
   </div>
</section>