// TODO Decoration title

%flexCenter {
   display: flex;
   align-items: center;
   justify-content: center;
}



// TODO Button hover fill
%btnHoverFill {
   &:before {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      top: 110%;
      left: 50%;
      background: $hoverDarkBtn;
      transform: translateX(-50%);
      border-radius: 50%;
      z-index: 0;
      transition: all 0.8s ease;
   }
   &:hover::before {
      top: -40%;
   }
}


