// TODO Container

@mixin container (
   $margin: 0 auto,
   $padding: 0 25px,
   $maxWidth: 1400px,

   $flex: false,
   $alignX: space-between,
   $alignY: center,

   $grid: false,
   $columns: auto,
   $rows: auto,
   
   $gap: 15px
) {
   margin: $margin;
   padding: $padding;
   max-width: $maxWidth;

   @if ($flex) {
      display: flex;
      justify-content: $alignX;
      align-items: $alignY;
      gap: 15px
   }

   @if ($grid) {
      display: grid;
      grid-template-columns: $columns;
      grid-template-rows: $rows;
      gap: $gap;
   }

   @media all and (max-width: 450px) {
      padding: 0 20px;
   }
}
.ui-container { @include container }
.ui-container.container--flex { @include container($flex: true) }



// TODO Button

@mixin button (
   $pd: 16px 40px,
   $fFamily: $Monts,
   $fSize: 18px,
   $fWeight: 600,
   $lHeight: 100%,
   $color: $light,
   $bg: $action,
   $border: 2px solid transparent,
   $trans: all 0.1s ease-out,
   $borderR: $btnR,
   $shadow: none,
) {
   padding: $pd;
   font-family: $fFamily;
   font-size: $fSize;
   font-weight: $fWeight;
   line-height: $lHeight;
   color: $color;
   background: $bg;
   border-radius: $borderR;
   box-shadow: $shadow;
   position: relative;
   transition: $trans;
   overflow: hidden;
   &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: $border;
      border-radius: $btnR;
   }
   &:active {
      transform: scale(0.98);
   }

   @media all and (max-width: 350px) {
      font-size: 17px;
   }
}
.ui-btn {
   @include button;
   span, i {
      position: relative;
      z-index: 1;
   }

   &.btn--dark {
      @include button(
         $bg: $darkDecor,
         $color: $light,
         $shadow: $btnDarkFillS,
      );
      &:hover {
         background: $hoverDarkBtn;
      }
   }

   &.btn--action {
      @include button( $shadow: $btnActionS );
      @extend %btnHoverFill;
      &:hover {
         box-shadow: $btnDarkFillS;
      }
   }

   &.btn--bordered {
      @include button(
         $fWeight: 500,
         $bg: transparent,
         $color: $title,
         $border: 2px solid $title,
      );
      // @extend %btnHoverFill;
      &:hover {
         color: $light;
         background: $darkDecor;
         transition: color 0.2s ease, background 0.2s ease, transform 0.1s ease;
      }
   }

   &.btn--icon {
      display: flex;
      align-items: center;
      gap: 23px;
      i {
         font-size: 18px;
      }
   }
}







// TODO Scroll animation
$animationTimingFunction: ease; // cubic-bezier(0.25, 0.8, 0.25, 1)
@mixin scrollAnimationFade (
   $fade: true,
   $opacity: false,
   $toTop: false,
   $toRight: false,
   $toBottom: false,
   $toLeft: false,
   $duration: 0.6s,
   $timingFunction: $animationTimingFunction,
   $delay: .4s,
   $transform: 30px,
   $hasMoreTransition: false,
) {
   &.animate {
      opacity: 0;
      visibility: hidden;
      @if $hasMoreTransition == false {
         transition: transform $duration $timingFunction $delay, opacity $duration $timingFunction $delay, visibility $duration $timingFunction $delay;
      }
      
      @if $fade {
         @if $toTop {
            transform: translateY($transform);
         }
      
         @if $toRight {
            transform: translateX(-$transform);
         }
      
         @if $toBottom {
            transform: translateY(-$transform);
         }
      
         @if $toLeft {
            transform: translateX($transform);
         }
      }
      
      &.animation {
         opacity: 1;
         visibility: visible;

         @if $fade {
            transform: none;
         }
      }
   }
}





// TODO Title

@mixin title (
   $margin: 0,
   $padding: 0,
   $fFamily: $Monts,
   $fSize: 40px,
   $fWeight: 700,
   $lHeight: 105%,
   $color: $title,
   $align: left
) {
   margin: $margin;
   padding: $padding;
   font-family: $fFamily;
   font-size: $fSize;
   font-weight: $fWeight;
   line-height: $lHeight;
   color: $color;
   text-align: $align;
   position: relative;
   &.title--center {
      text-align: center;
   }
}
.decor-title {
   @include title (
      $margin: 0 0 15px 0,
      $fFamily: $MontsAlt,
      $fSize: 19px,
      $fWeight: 300,
      $lHeight: 100%,
   );
   display: flex;
   align-items: center;
   &:before {
      content: '';
      margin-right: 15px;
      display: block;
      width: 30px;
      height: 2px;
      background: $action;
      border-radius: $btnR;
   }
}

.section-title {
   @include title;
}
