@import './_vars';
@import './extends';
@import './_mixins';
@import './_functions';
@import '../../node_modules/swiper/swiper-bundle.min';

// Components
@import '../components/top-info/top-info';
@import '../components/socials/socials';
@import '../components/header/header';
@import '../components/menu/nav/nav';
@import '../components/features/features';

// UI
@import '../components/ui/ui-burger/ui-burger';
@import '../components/ui/ui-buttons/ui-buttons';
@import '../components/ui/ui-preloader/ui-preloader';

// Sections
@import '../components/sections/hero-section/hero-section';
@import '../components/sections/about-section/about-section';





// TODO  Остновные стили

* {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

a, a:hover, a:focus, a:active {
   outline: none;
}


html,body, main {
   height: 100%;
   position: relative;
   // all: unset; // сбрасывыает все стили до значений по умолчанию
}

body {
   position: relative;
   font-family: $Monts;
   &.no-scroll {
      overflow: hidden;
   }
}

button {
   border: none;
   background: transparent;
   &:active, &:focus {
      border: none;
   }
}

a, a:hover, a:focus, a:active {
   text-decoration: none;
}

i {
   font-family: $BRFont;
}


// TODO  Custom Scroll

::-webkit-scrollbar {
   background: $weakDecor;
   // border-radius: 50px;
   width: 5px;
   height: 5px;
}

::-webkit-scrollbar-thumb {
   background: $title;
   border-radius: 50px;
}

::-webkit-scrollbar-corner {
   background: transparent;
}

// for Mozilla
* {
   -webkit-tap-highlight-color: transparent;
   scrollbar-color: $title, $weakDecor ; /* «цвет ползунка» «цвет полосы скроллбара» */
   scrollbar-width: thin ;/* толщина */
}
