#gallery-popup {
   .popup {
      max-width: 900px;
      height: 100%;
      .gallery-preview, #gallery-preview-swiper,
      #gallery-preview-swiper .swiper-slide {
         height: 100%;
      }
   }
   #gallery-preview-swiper {
      .swiper-slide {
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
}