<div class="popup-wrap" id="gallery-popup">
   @@include('../../ui/ui-close/ui-close.html')

   <div class="popup">
      
      <div class="gallery-preview swiper-wrap">
         <div class="swiper gallery-preview-swiper" id="gallery-preview-swiper">
            <div class="swiper-wrapper"></div>
         </div>

         <div class="swiper-button-prev arrow circle-arrow"></div>
         <div class="swiper-button-next arrow circle-arrow"></div>
      </div>
   </div>

   <div class="popup-overlay"></div>
</div>

   
