.contact-form-wrap {
   padding: 50px 50px 60px 50px;
   background: $weakSelection;
   max-width: 550px;
   width: 100%;
   border-radius: $blockR;
   position: absolute;
   bottom: 0;
   right: 20px;
   z-index: 1;
   @include scrollAnimationFade($toLeft: true, $delay: .3s);

   .form-title {
      margin-bottom: 24px;
      font-family: $MontsAlt;
      font-size: 35px;
      font-weight: 700;
      line-height: 80%;
      color: $action;
      text-align: center;
   }

   .form-text {
      margin: 0 auto 50px auto;
      font-size: 15px;
      font-weight: 400;
      line-height: 153%;
      text-align: center;
      color: $subtitle;
      max-width: 330px;
   }

   .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      .form-item-group {
         display: flex;
         align-items: center;
         width: 100%;
         gap: 25px;
         &.media900 {
            flex-direction: column;
         }
      }
      .form-item {
         position: relative;
         width: 100%;
         .ui-input {
            padding: 18px 25px;
            font-size: 14px;
            font-weight: 500;
            line-height: 93%;
            color: $text;
            border-radius: $btnR;
            background: $light;
            border: none;
            width: 100%;
            transition: all .2s ease;
            &::placeholder {
               font-family: $Monts;
               color: $text;
               font-weight: 400;
            }
         }

         .ui-textarea {
            font-family: $Rob;
            border-radius: $blockR;
            min-height: 100px;
            border-radius: 20px;
         }

         .error-message {
            font-family: $Rob;
            font-size: 12px;
            font-weight: 400;
            line-height: 100%;
            color: $errorMesColor;
            position: absolute;
            bottom: -15px;
            left: 18px;
            opacity: 0;
            transform: translateX(15px);
            transition: all .3s ease;
         }

         &.error {
            .ui-input {
               color: $errorInputColor;
               background: $errorBg;
               &::placeholder {
                  color: $errorInputColor;
               }
            }
            .error-message {
               opacity: 1;
               transform: none;
            }
         }
      }

      .submit-item {
         margin-top: 40px;
         display: flex;
         align-items: center;
         align-self: flex-start;
         justify-content: flex-start;
         gap: 30px;
      }

      .warning-text {
         font-family: $Rob;
         font-size: 13px;
         font-weight: 400;
         line-height: 131%;
         color: $text;
         max-width: 220px;
      }
   }
}


@media all and (max-width: 1450px) {
   .contact-form-wrap { right: 0; }
} 

@media all and (max-width: 1000px) {
   .contact-form-wrap {
      padding: 50px 35px 50px 35px;
      max-width: 480px;
      bottom: 0;
   }
}

@media all and (max-width: 900px) {
   .contact-form-wrap {
      padding: 0;
      max-width: 700px;
      background: transparent;
      position: static;
      .form-text {
         color: $light;
         max-width: 450px;
      }
      .contact-form {
         gap: 25px;
         .form-item-group.media900 {
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 25px;
            .form-item {
               max-width: 50%;
            }
         }

         .form-item {
            .ui-input {
               padding: 15px 25px;
            }
         }

         .submit-item {
            margin-top: 25px;
         }
      }
   }
}

@media all and (max-width: 576px) {
   .contact-form-wrap {
      .contact-form {
         .form-text { margin: 0 auto 40px auto; }
         .form-item-group.media900 {
            flex-direction: column;
            width: 100%;
            .form-item {
               max-width: 100%;
            }
         }
      }
   }
}

@media all and (max-width: 400px) {
   .contact-form-wrap .contact-form {
      .submit-item {
         flex-direction: column;
         align-items: flex-start;
         gap: 25px;
      }
      .warning-text { max-width: 330px; }
   }
}